/*reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
*:focus{outline:none;}
*{-webkit-text-size-adjust:none;}
body{font-family:PingFangTC-Regular,"Microsoft JhengHei","微軟正黑體",'Noto Sans TC',sans-serif}
a{text-decoration:none;color:unset;cursor:pointer}
a:hover{text-decoration:none;color:unset}
img{width:100%;height:auto;outline:none;display:block;border:0;}
ul,ol{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
.for_pc{display:inherit !important;}
.for_phone{display:none !important;}

section#crown_container{width:100vw;height:100vh;position:relative;overflow:hidden;background-color:#fff;}
section#crown_container nav{display:flex;justify-content:flex-start;flex-wrap:nowrap;width:100vw;height:5vh;background-color: #d9b87d;}
ul.nav-box{display:flex;justify-content:flex-start;flex-wrap:nowrap;}
ul.nav-box li>ul{display:none;}
article#trisection{display:flex;flex-wrap:nowrap;justify-content:space-evenly;width:100vw;height:100vh;}
.first{position: relative;overflow: hidden;flex-basis: 30%;}
.middle{position: relative;flex-basis: 40%;}
.last{position: relative;overflow: hidden;flex-basis: 30%;background-color:#f7d75e;}
figure.pd{width: 23vmax;position:absolute;z-index:1;top: 27%;left: 23%;}
figure.pdbg{width: 55vmax;position:absolute;z-index: 0;top: 2vmax;left: -7vmax;}
.tophigh{background-color:#f7d75e;display:flex;justify-content:center;flex-wrap:wrap;width:100%;padding: 10vmax 0 2vmax 0;}
.pdtitle{font-size:2.5vmax;}
.en_pdtitle{width:100%;}
figure.pattern{width:20%;margin:2% 0 0 2vmax;}
.en_pdtitle>h2{font-size:8vmax;font-style:italic;font-weight:normal;margin:0 0 0 15%;filter:opacity(0.4);color:#fff}
.en_pdtitle>h3{font-size:2vmax;font-style:italic;font-weight:normal;margin:-1.1vmax 0 0 15%;color:#fff}
.pdtitle>h2,.pdtitle>h3,.bottomlow>h3{font-family:'Noto Serif TC',serif !important;}
.en_pdtitle>h2,.en_pdtitle>h3{font-family:'Palatino Bold Italic' !important;}
.pdtitle>h2,.pdtitle>h3,.bakenum,.expword{color:#fff;font-weight:bold;}
.bottomlow h3{font-size: 2vmax;color: #c3a986;}
.bottomlow{width:100%;text-align:center;padding: 2vmax 0 1vmax 0;}
.bottomlow p{font-size:1vmax;font-weight:bold;margin:0 auto;width: 55%;text-align:initial;word-break:keep-all;}
.buyarea{margin: 1vmax 0 0 0;}
.buyarea>a.buybtn{width:71%;padding:1%;background-color:#c3a986;color:#fff;border-radius:5px;display:block;margin:3% auto 0;font-size: 1.2vmax;}
.price{display:flex;flex-wrap:nowrap;justify-content:center;align-items:baseline;}
.price sub{font-size:1vmax;display:block;align-self:end;padding:0.5vmax 0 0 0;}
.price>b{font-size:2.5vmax;font-weight:bold;}
.price i{font-size:1.5vmax;}
.bakenum{text-align:center;padding: 1vmax 0 0 0;margin:0 0 0 -11vmax;}
.bakenum i{font-size:10vmax;line-height:10vmax;}
.bakenum b{font-size:2vmax;}
.last .row ul{display:flex;flex-wrap:wrap;justify-content:center;width:18vmax;margin:0 auto;}
.last .row ul li{width:100%;border-bottom:#fff 1px solid;display:flex;flex-wrap:wrap;justify-content:space-between;align-items:baseline;padding:.5vmax 0.5vmax 3vmax;position: relative;}
h4.exptitle{font-size:1.2vmax;font-weight:bold;color: #6c6c6c;}
h5.expword{}
figure.real{background-image:url(https://tk3c-ecteam.github.io/coffee/assets/images/coffee/beans_bake_real.png);background-position:top left;background-size:15vmax;background-repeat:no-repeat;width:18%;height:1.5vmax;position:absolute;margin:3vmax 0 0 0;overflow:hidden;top:0;left:1.5vmax;}
figure.total{background-image:url(https://tk3c-ecteam.github.io/coffee/assets/images/coffee/beans_bake_total.png);background-position:top left;background-size:15vmax;background-repeat:no-repeat;width:100%;height:1.5vmax;position:absolute;margin:3vmax 0 0 0;overflow:hidden;top:0;left:1.5vmax;}
figure.radarmap{width:100%;padding: 1.5vmax;margin: -1vmax 0 0 0;}
.pdname h5{color:#fff;text-align:end;font-weight:bold;}
.last .row ul li:last-child{border:none;}

/*各尺寸斷點*/
@media screen and (min-width: 1200px){
}
@media screen and (min-width: 992px) and (max-width: 1199.99px){
}
@media screen and (min-width: 768px) and (max-width: 991.99px){
}
@media screen and (min-width: 576px) and (max-width: 767.99px){
  .for_pc{display:none !important;}
  .for_phone{display:inherit !important;}
}
@media screen and (max-width: 575.99px){
}