@charset "utf-8";

/*彈出廣告css*/
#alertAd-box {
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    background-color: #000000c9;
}

#alertAd-box .alert-content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    height: auto;
    margin:0 auto 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#alertAd-box .alert-content a {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    margin: 0 auto 0;
}
#alertAd-box .alert-content .alert-close {
    width: 5%;
    height: 30px;
    display: block;
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 10;
}
