<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>618轉盤大贏家</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link href="./dist/css/spin.css" rel="stylesheet">
    <script src="https://www.tkec.com.tw/js/vue.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <div id="spin-container">
        <section class="wheel-content">
            <p class="outside"><img src="./dist/images/outsidebg.png"></p>
            <p class="wheel" :style="{'transform':'rotate('+angle+'deg)'}">
                <img src="./dist/images/wheels_spin.png">
            </p>
            <a id="spin" @click="spin"><img src="./dist/images/pointer_btn.png"></a>
        </section>

        <!-- 登入彈出視窗 -->
        <div id="login-group" class="alert-style" v-if="isShow">
            <div class="alert-content">
                <a class="close-alert" @click="closeAlert"><i class="fas fa-times-circle"></i></a>
                <h2>618搶先攻略</h2>
                <div class="inner-group">
                    <form class="login-form">
                        <label for="email">
                            <input name="email" v-model="email" type="text" placeholder="請輸入您的email">
                            <p v-if="emailError" class="error">{{ emailError }}</p>
                        </label>
                        <label for="phone"><input name="phone" v-model="phone" type="text" maxlength="11" placeholder="請輸入您的手機號碼">
                            <p v-if="phoneError" class="error">{{ phoneError }}</p>
                        </label>
                        <a class="normalGet" type="submit" @click="checkform">會員領獎</a>
                    </form>
                </div>
            </div>
        </div>

        <!-- 領取折價券視窗 -->
        <div id="alert-group" class="alert-style" v-if="isAlert">
            <div class="alert-content">
                <a class="close-alert" @click="closeAlert"><i class="fas fa-times-circle"></i></a>
                <h2>行家帶路瘋狂 go</h2>
                <div class="inner-group">
                    <h3>恭喜您 獲得</h3>
                    <p class="reward-text">{{ reward }} 元</p>
                    <h5>折價券</h5>
                </div>
                <div class="bottom-footer">
                    <a class="sure-get" @click="closeAlert">確定領券</a>
                    <a class="check-list" href="" target="_blank">查看已領折價券</a>
                    <a class="detail">查看折價券使用說明</a>
                </div>
            </div>
        </div>

        <!-- 彈出警告訊息 -->
        <div id="warning-group" class="alert-style" v-if="isWarn">
            <div class="alert-content">
                <a class="close-alert" @click="closeAlert"><i class="fas fa-times-circle"></i></a>
                <h2>行家帶路瘋狂 go</h2>
                <div class="inner-group">
                    <p class="warning-text" v-html="warnText"></p>
                </div>
                <div class="bottom-footer">
                    <a id="sure" @click="closeAlert">確定</a>
                </div>
            </div>
        </div>
    </div>
    <script src="./dist/js/spin.js"></script>
</body>
</html>