@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
/*  共用樣式調整 */
body {
  background: #92deff;
  position: relative;
}
body:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: url("https://tk3c-ecteam.github.io/fan/images/kv.png") no-repeat center;
  background-size: 100% auto;
  background-position: 0 45px, top;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
  z-index: -1;
}

.protitle {
  height: auto;
  font-size: 0;
  margin: 0 auto 2%;
  cursor: pointer;
}
.protitle a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.bg01 {
  background: #28c3fc;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 風扇 */
#fan-container .background {
  width: 100%;
  height: 0;
  position: relative;
  margin: 0 auto 0;
  padding-bottom: 61%;
}
#fan-container .background .title {
  width: 35%;
  position: absolute;
  left: 0;
  right: 0;
  top: 14%;
  margin: 0 auto;
  -webkit-animation: zoomInNormal 1.4s linear;
          animation: zoomInNormal 1.4s linear;
}

.background2 {
  width: 100%;
  height: 100%;
  background: url("https://tk3c-ecteam.github.io/fan/images/bg.png") no-repeat center;
  background-size: 100% auto;
  background-position: 0 0, top;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: -2;
}
.background2.fixed {
  position: fixed;
  top: 0;
  background-position: 0 35px, top;
}

.special-box {
  margin: -25% auto 5%;
}
.special-box .special {
  width: 85%;
  margin: 0 auto;
}
.special-box .special .swiper-pagination {
  bottom: -5% !important;
}
.special-box .special .swiper-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pro-box .products {
  width: 90%;
  margin: 0 auto;
}

.sale-box .bg01 {
  background: #ee4d72;
  padding: 1% 1% 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto 2%;
}
.sale-box .more {
  background: #ee4d72;
}

/*  電腦版其他尺寸 */
@media only screen and (max-width: 992px) {
  #fan-container .background {
    padding-bottom: 67vw;
  }
  #fan-container .background .title {
    width: 50vw;
    top: 9vw;
  }
  body:before {
    background-size: 120% auto;
    background-position: -10vw 4vw, top;
  }
  .background2 {
    background-size: 160% auto;
    background-position: -29vmax 4vmax, top;
  }
  .background2.fixed {
    background-size: 180% auto;
    background-position: -29vmax 4vmax, top;
  }
  .special-box .special {
    width: 100%;
  }
  .pro-box .products {
    width: 100%;
  }
  .protitle {
    margin: 0 auto 4%;
  }
}
/* 手機版 */
@media only screen and (max-width: 576px) {
  .fix_btn {
    display: block;
  }
  .fix_btn .dropdown-menu {
    display: none;
  }
  #fan-container .background {
    padding-bottom: 110vw;
  }
  #fan-container .background .title {
    width: 85vw;
    top: 26vw;
  }
  body:before {
    background-size: 200% auto;
    background-position: -68vw 22vw, top;
  }
  .background2 {
    background-size: 250% auto;
    background-position: -56vw 33vw, top;
  }
  .sale-box .bg01 {
    padding: 2% 2% 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}