<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="keywords" content="" />
  <meta name="description" content="好評再加碼 爸爸好神券" />
  <link href="https://www.tk3c.com/images/headimg.jpg" rel="image_src" />

  <!--FB meta-->
  <meta property="fb:admins" content="" />
  <meta property="fb:app_id" content="606825782724291" />
  <meta property="og:site_name" content="燦坤線上購物" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="燦坤線上｜生活應援祭2.0-爸爸好神券" />
  <meta property="og:description" content="生活應援祭2.0 好評再加碼 爸爸好神券" />
  <meta property="og:image" content="https://www.tk3c.com/images/headimg.jpg" />
  <meta property="og:url" content="https://events.tk3c.com/events_net/202207event/index.aspx" />

  <title>燦坤線上｜生活應援祭2.0-爸爸好神券</title>

  <!-- slick css -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"
    integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"
    integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://events.tk3c.com/events_net/events_net/animation/animate.css" rel="stylesheet" type="text/css" />
  <link href="https://events.tk3c.com/events_net/events_net/css/template/2022_Style.css" rel="stylesheet"
    type="text/css" />
  <link href="https://events.tk3c.com/events_net/events_net/animation/animation.css" rel="stylesheet" type="text/css" />

  <!-- 此頁樣式 -->
  <link href="https://events.tk3c.com/events_net/events_net/202207event/css/hotCard.css" rel="stylesheet"
    type="text/css" />

  <script type="text/javascript"
    src="https://events.cdn-tkec.tw/events_net/events_net/General/js/JQuery@3.6.0/jquery-3.6.0.js"></script>
  <!-- slick js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"
    integrity="sha512-eP8DK17a+MOcKHXC5Yrqzd8WI5WKh6F1TIk5QZ/8Lbv+8ssblcz7oGC8ZmQ/ZSAPa7ZmsCU4e/hcovqR8jfJqA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://www.tk3c.com/js/vue.min.js"></script>

  <!-- GA cookie -->
  <script>
    function getCookie(cookieName) {
      var name = cookieName + "=";
      var ca = document.cookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1);
        if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
      }
      return "";
    }

    if (getCookie("tkecm") != null) var tkecm_cookie = getCookie("tkecm").split("&");

    for (var item in tkecm_cookie)
      if (tkecm_cookie[item].split("=").length > 1) {
        var arg = tkecm_cookie[item].split("=")
        if (arg[0] == "ID" && arg[1] != undefined) {
          var user_id = tkecm_cookie[item].split("=")[1]
        }
      }
  </script>

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-22041504-48', 'auto');
    if (user_id != undefined) {
      ga('set', 'userId', user_id);
      ga('set', 'dimension2', user_id);
    }
    ga('send', 'pageview');
  </script>

  <!-- Facebook Pixel Code -->
  <script>
    ! function (f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = '2.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '383360303018527');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=383360303018527&ev=PageView&noscript=1" /></noscript>
  <!-- End Facebook Pixel Code -->

  <!-- GA Events -->
  <script type="text/javascript">
    function sendGaEvent(eventCategory, eventAction, eventLabel) {
      ga('send', 'event', eventCategory, eventAction, eventLabel)
    }

    function ProcessGaEvent(eventCategory, eventAction, eventLabel) {
      var CookieEc = getCookie('ec');
      if (CookieEc != "") {
        eventCategory = CookieEc + '-' + eventCategory;
      }
      sendGaEvent(eventCategory, eventAction, eventLabel)
    }
  </script>
  <!-- End GA Events -->

  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TFQTW5B');
  </script>
  <!-- End Google Tag Manager -->
</head>

<body>
  <!--置頂TKEC-->
  <script>
    $(document).ready(function () {
      $.ajax({
        url: "https://events.tk3c.com/events_net/top/top.aspx?url=" + location.href,
        type: "POST",
        dataType: 'text',
        success: function (msg) {
          $("#TkecTop").html(msg);
        }
      });
    });
  </script>
  <div id="TkecTop" style="height:45px;"></div>

  <!-- 限時領券 -->
  <div id="card-container" v-cloak>
    <div class="background">
      <h2 class="title"><img :src="'images/title.png' | siteUrl"></h2>
      </h2>
      <p class="subtitle"><img :src="'images/subtitle.png' | siteUrl"></p>
    </div>

    <p class="item"><img :src="'images/item.png' | siteUrl"></p>

    <section class="sale-group">
      <a href="https://events.tk3c.com/events_net/nauy485584sgniy/index.html?ec=2207event" target="_blank"><img
          :src="'images/store.png' | siteUrl"></a>
    </section>

    <!-- 搶券區 8/1開放 -->
    <section class="special-box" v-if="isCard">
      <img class="special-bg" :src="'images/special_bg.png' | siteUrl">
      <ul>
        <li v-for="(card,i) in cards">
          <!-- 尚未開放 -->
          <a v-if="today < card.start">
            <img :src="'images/' + card.image_off | siteUrl">
          </a>

          <!-- 可開搶 -->
          <a @click="getTicket" v-else-if="today >= card.start && today < card.end"
            :class="[today >= card.start && today < card.end ? 'active': '']">
            <img :src="'images/' + card.image | siteUrl">
          </a>

          <a v-else class="off">
            <img :src="'images/' + card.image | siteUrl">
          </a>
        </li>
      </ul>
    </section>

    <!-- 說明區 -->
    <section class="detail-box">
      <p><img :src="'images/info.png' | siteUrl"></p>
    </section>

    <!-- 活動輪播區 -->
    <section class="event-box"></section>

    <!-- 商品區 -->
    <section class="pro-box">
      <h2 class="title"><img :src="'images/pro_title.png' | siteUrl"></h2>
      <div class="products">
        <ul>
          <li v-for="(pro,x) in products">
            <a :href="pro.url" target="_blank">
              <img :src="'images/' + pro.image | siteUrl"> </a> </li>
        </ul> <a class="more" href="https://www.tkec.com.tw/dic1.aspx?cid=118642&aid=23168&ec=202207event"><img
            :src="'images/more.png' | siteUrl"></a>
      </div>
    </section>

    <!--門市限定 移除-->
    <!-- <section class="store-box">
      <p class="store"><img src="https://events.tk3c.com/events_net/events_net/202207event/images/event02.png"></p>
    </section> -->

    <!-- 領取折價券視窗 -->
    <div id="alert-group" class="alert-style" v-if="isAlert">
      <div class="alert-content">
        <a class="close-alert" @click="closeAlert"><i class="fas fa-times-circle"></i></a>
        <div class="inner-group">
          <img class="rewardimg" :src="msgImg">
        </div>
        <div class="bottom-footer">
          <a class="sure-get" @click="closeAlert"><img :src="'images/sure.png' | siteUrl"></a>
        </div>
      </div>
    </div>

  </div>

  <!-- 彈出廣告 -->
  <section id="alert">
    <a class="close"><img src="https://events.cdn-tkec.tw/events_net/events_net/crowncoffee/images/new/close2.png"></a>
    <div class="alert-content">
      <a class="go-event pc" href="https://events.tk3c.com/events_net/nauy485584sgniy/index.html?ec=2207event"
        target="_blank"><img src="https://events.tk3c.com/events_net/events_net/202207event/images/alert.png"></a>
      <a class="go-event mobile" href="https://events.tk3c.com/events_net/nauy485584sgniy/index.html?ec=2207event"
        target="_blank"><img
          src="https://events.tk3c.com/events_net/events_net/202207event/images/alert_mobile.png"></a>
    </div>
  </section>

  <!-- 燦坤粉絲團 -->
  <a href='https://www.facebook.com/TDdd331/' target='_blank' class='fb-fans'>
    <img src='https://events.tk3c.com/events_net/events_net/groupbuy/images/20210416_bt_fb.png'>
  </a>

  <div class="copyR">本公司保有最後修改、變更、活動解釋及取消活動之權利，若有相關異動將會公告於網站，怒不另行通知。</div>

  <script src="https://events.tk3c.com/events_net/events_net/js/common.js" type="text/javascript"></script>

  <!-- 主要頁面vue js -->
  <script src="https://events.tk3c.com/events_net/events_net/202207event/js/test.js" type="text/javascript">
  </script>

  <!-- 彈出視窗js-->
  <script src="https://events.tk3c.com/events_net/events_net/202207event/js/life_coupon.js" type="text/javascript">
  </script>
</body>

</html>