<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="筆電,桌機,螢幕,滑鼠,鍵盤,耳機,家電,資訊展,電競,耳機,Intel ,ACER,第11代 Intel Core i7處理器,INTEL Iris XE MAX ,ACER Swift 3X" />
    <meta name="description" content="8/18-8/31 燦坤2021線上資訊月，全面5折開跑拉~ 筆電、桌機、螢幕、3C配件通通超值帶回家!!!" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,IE=10,IE=11">
    <link href="https://events.tk3c.com/events_net/events_net/computex_21/images/fb_share.jpg" rel="image_src" />

    <!--FB meta-->
    <meta property="fb:admins" content="" />
    <meta property="fb:app_id" content="606825782724291" />
    <meta property="og:site_name" content="燦坤線上購物" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="燦坤線上｜2021線上資訊月8/18-8/31" />
    <meta property="og:description" content="8/18-8/31 燦坤2021線上資訊月，全面5折開跑拉~ 筆電、桌機、螢幕、3C配件通通超值帶回家!!!" />
    <meta property="og:image" content="https://events.tk3c.com/events_net/events_net/computex_21/images/fb_share.jpg" />
    <meta property="og:url" content="http://events.tk3c.com/events_net/computex_21/index.aspx" />

    <title>燦坤線上｜2021線上資訊月8/18-8/31</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" integrity="sha512-6lLUdeQ5uheMFbWm3CP271l14RsX1xtx+J5x2yeIDkkiBpeVTNhTqijME7GgRKKi6hCqovwCoBTlRBEC20M8Mg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://events.tk3c.com/events_net/events_net/animation/animation.css" rel="stylesheet" type="text/css">
    <link href="https://events.tk3c.com/events_net/events_net/css/template/2020_Style.css" rel="stylesheet" type="text/css">
    <link href="https://events.tkec.com.tw/events_net/events_net/css/template/bank.css" rel="stylesheet" type="text/css">
    <link href="https://events.tk3c.com/events_net/events_net/css/template/mobile_nav.css" rel="stylesheet" type="text/css" />
    <!-- 登入頁樣式 -->
    <link href="https://events.tk3c.com/events_net/events_net/618exportgo1c/css/alert.css" rel="stylesheet">
    <!-- 此頁樣式 -->
    <link href="https://events.tk3c.com/events_net/events_net/computex_21/css/computex.css" rel="stylesheet">
    <script src="https://www.tkec.com.tw/js/vue.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- slick js -->
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- GA cookie -->
    <script>
        function getCookie(cookieName) {
            var name = cookieName + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
            }
            return "";
        }
    
        if (getCookie("tkecm") != null) var tkecm_cookie = getCookie("tkecm").split("&");
    
        for (var item in tkecm_cookie)
            if (tkecm_cookie[item].split("=").length > 1) {
                var arg = tkecm_cookie[item].split("=")
                if (arg[0] == "ID" && arg[1] != undefined) {
                    var user_id = tkecm_cookie[item].split("=")[1]
                }
            }
    </script>

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-22041504-48', 'auto');
        if (user_id != undefined) {
            ga('set', 'userId', user_id);
            ga('set', 'dimension2', user_id);
        }
        ga('send', 'pageview');
    </script>
    
    <!-- Start of global snippet: Please do not remove Place this snippet between the <head> and </head> tags on every page of your site.-->
    <!-- Global site tag (gtag.js) - Google Marketing Platform -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=DC-10406106"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'DC-10406106');
    </script>
    <!-- End of global snippet: Please do not remove -->
    <!--Event snippet for All.Landing on : Please do not remove.Place this snippet on pages with events you’re tracking. Creation date: 10/29/2020-->
    <script>
    gtag('event', 'conversion', {
        'allow_custom_scripts': true,
        'send_to': 'DC-10406106/invmedia/allla0+standard'
    });
    </script>
    <noscript>
    <img src="https://ad.doubleclick.net/ddm/activity/src=10406106;type=invmedia;cat=allla0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;tfua=;npa=;gdpr=${GDPR};gdpr_consent=${GDPR_CONSENT_755};ord=1?" width="1" height="1" alt=""/>
    </noscript>
    <!-- End of event snippet: Please do not remove -->

    <!-- Global site tag (gtag.js) - Google Ads: 494785326 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-494785326"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-494785326');
    </script>

    <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '383360303018527');
    fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=383360303018527&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
    
    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '333989513612649'); // Insert your pixel ID here.
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display: none"
            src="https://www.facebook.com/tr?id=333989513612649&ev=PageView&noscript=1" />
    </noscript>
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
    <!-- Facebook Pixel Code -->

    <!-- End Facebook Pixel Code -->

    <!-- GA Events -->
    <script type="text/javascript">
        function sendGaEvent(eventCategory, eventAction, eventLabel) {
            ga('send', 'event', eventCategory, eventAction, eventLabel)
        }
    
        function ProcessGaEvent(eventCategory, eventAction, eventLabel) {
            var CookieEc = getCookie('ec');
            if (CookieEc != "") {
                eventCategory = CookieEc + '-' + eventCategory;
            }
            sendGaEvent(eventCategory, eventAction, eventLabel)
        }
    </script>
    <!-- End GA Events -->
    
    
    <script>
        var _piq = _piq || [];
        _piq.push(
            ['setCustomVar', 'venue', 'ef-5d89d7d323920'],
            ['setCustomVar', 'visitor_id', ''],
            ['setCustomVar', 'label', ''],
            ['trackPageView'],
            ['trackPageClick']
        );
        (function (d, t, u, f, j) {
            f = d.getElementsByTagName(t)[0];
            j = d.createElement(t);
            j.async = 1;
            j.src = u;
            f.parentNode.insertBefore(j, f);
        })(document, 'script', 'https://s.pixanalytics.com/js/pi.min.js');
    </script>  
    
    
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-TFQTW5B');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
     <!-- Google Tag Manager (noscript) -->
     <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFQTW5B"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
        
    <!-- Google Tag Manager (noscript) -->
    <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NF2WKF"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <!--置頂TKEC-->
    <script>
        $(document).ready(function() {
            $.ajax({
                url: "../../top/top.aspx?url=" + location.href,
                type: "POST",
                dataType: 'text',
                success: function (msg) {
                    $("#TkecTop").html(msg);
                }
            });
        });
    </script>
    <div id="TkecTop" style="height:45px;"></div>
    
    <!-- 線上資訊展頁面 -->
    <div id="computex-container">
        <div class="bg"></div>

       <!-- 挺你應援券 -->
       <section class="cheer-box">
           <h2><img :src="'images/title.png' | siteUrl"></h2>
           <ul>
            <li @click="getTicket" v-for="(ticket,i) in tickets[0]" :value="i"><img :src="'images/'+ ticket | siteUrl"></li>
           </ul>
       </section>

        <!-- 搶券規則 -->
        <p class="rule"><img :src="'images/cre.png' | siteUrl"></p>

        <!-- 促銷商品區 -->
        <div class="special-box">
           <a class="single" href="https://www.tk3c.com/pt.aspx?pid=218780&ec=computex_21" target="_blank"><img :src="'images/computex01.png' | siteUrl"></a>

           <ul class="products">
               <li><a href="https://www.tk3c.com/pt.aspx?pid=218780&ec=computex_21" target="_blank"><img :src="'images/computex02.png' | siteUrl"></a></li>
               <li><a href="https://www.tk3c.com/pt.aspx?pid=202222&ec=computex_21" target="_blank"><img :src="'images/computex03.png' | siteUrl"></a></li>
               <li><a href="https://www.tk3c.com/pt.aspx?pid=195895&ec=computex_21" target="_blank"><img :src="'images/computex04.png' | siteUrl"></a></li>
               <li><a href="https://www.tk3c.com/pt.aspx?pid=159775&ec=computex_21" target="_blank"><img :src="'images/computex05.png' | siteUrl"></a></li>
           </ul>

           <a class="other-gift"><img :src="'images/computex06.png' | siteUrl"></a>
        </div>

        <!-- 右側選單 -->
        <aside class="aside-container">
            <h3 class="aside-header">
                <img :src="'images/right_top.png' | siteUrl">
            </h3>
            <div class="aside-content">
                <ul>
                    <li><a href="#computex1">展場驚爆區</a></li>
                    <li><a href="#computex2">筆電主機螢幕</a></li>
                    <li><a href="#computex3">電腦週邊</a></li>
                    <li><a href="#computex4">電腦零件區</a></li>
                    <li><a href="#computex5">智慧穿戴</a></li>
                    <li><a href="#computex7">行動通訊</a></li>
                    <li><a href="#computex8">Mac 專區</a></li>
                </ul>
            </div>
            <a href="#" class="go-top"><img src="https://events.tk3c.com/events_net/events_net/21mystery/images/top.png"></a>
        </aside>

         <!-- 領取折價券視窗 -->
         <div id="alert-group" class="alert-style ticket" v-if="isAlert">
            <div class="alert-content">
                <a class="close-alert" @click="closeAlert"><i class="fas fa-times-circle"></i></a>
                <div class="inner-group">
                    <img class="rewardimg" :src="rewardImg">
                </div>
                <div class="bottom-footer">
                    <a class="sure-get" @click="closeAlert"><img :src="'images/check1.png' | siteUrl"></a>
                    <a class="check-list" href="http://www.tk3c.com/member/member_coupon.aspx?ec=computex_21" target="_blank"><img :src="'images/check2.png' | siteUrl"></a>
                    <a class="detail" @click="seeRule"><img :src="'images/check3.png' | siteUrl"></a>
                </div>
            </div>

            <!-- 應援券規則 -->
            <div id="cheer-rule" class="rule-group" v-if="isCheerRule">
                <a class="close-alert" @click="closeAlert"><i class="fas fa-times-circle"></i></a>
                <h2><img src="https://events.tk3c.com/events_net/events_net/21mystery/images/ticket_title.png"></h2>
                <div class="rule-text">
                    <p class="normal">折價券使用規則</p>
                    <p class="normal">再次恭喜您獲得限量折價券!</p>
                    <p class="normal">本活動折價券使用期限為<br>2021/08/18 10:00-2021/08/31 23:59</p>
                    <p class="normal">請注意使用期限喔!</p>

                    <h3>Q: 什麼是挺你應援券？</h3>
                    <p>A: : 凡於活動期間於燦坤線上購物網站購買「指定品牌」之「指定價位(會員促銷價)區間」商品，
                        依下列指定價位區間，每台可折抵「挺你應援券」乙張(分三個等級)，數量有限，兌完截止(依兌換次序為準)</p>
                    <p class="normal">●指定商品會員促銷價1200~2999元:每台可使用100元一張(限量兌換1,600張)</p>
                    <p class="normal">●指定商品會員促銷價3000~7499元:每台可使用200元一張(限量兌換3,500張)</p>
                    <p class="normal">●指定商品會員促銷價7500~24999元:每台可使用500元一張(限量兌換600張)</p>

                    <h3>Q: 怎麼使用折價券？</h3>
                    <p>A: 直接於結帳時兌換折抵，按下確定按鈕，立即享受折扣優惠！</p>
                    <h3>Q: 購物金能跟折價券同時使用嗎?</h3>
                    <p>A: 一個商品僅能使用一種折扣方式。如您選擇使用折價券，則無法再選擇使用購物金折抵。</p>                  
                    <h3>Q: 折價券可以送給別人嗎?</h3>
                    <p>A:折價券不得轉讓、轉售或折換現金。</p>
                    <h3>Q: 折價券能夠折抵運費嗎?</h3>
                    <p>A: 折價券僅能用於折抵商品價格，無法用於折抵運費</p>
                    <h3>Q: 如果已經選擇使用折價券，但後來決定換貨/退貨，折價券會還回來嗎?</h3>
                    <p>A: 折價券一經使用，就無法返還喔!退貨/換貨前請留意喔!</p>
                    <h3>Q: 如果使用折價券後，能參與各品牌官網舉辦活動嗎?</h3>
                    <p>A: 是可以的哦~但要特別注意如遇各品牌官網舉辦之活動有金額限制時，因本券會直接折抵結帳金額，可能會造成您無法參加各品牌官網活動，請斟酌使用。</p>
                </div>
            </div>
    </div>

        <!-- 彈出警告訊息 -->
        <div id="warning-group" class="alert-style" v-if="isWarn">
            <div class="alert-content">
                <a class="close-alert" @click="closeAlert"><i class="fas fa-times-circle"></i></a>
                <div class="inner-group">
                    <p class="warning-text"><img :src="alertImg"></p>
                </div>
                <div class="bottom-footer">
                    <a id="sure" @click="closeAlert"><img src="https://events.tk3c.com/events_net/events_net/21mystery/images/sure.png"></a>
                </div>
            </div>
        </div> 
    </div>

     <!-- 商品區(複製公版的樣式) -->
     <div class="product-content">
        <!-- 標題 -->
        <h2 class="protitle pro1">
            <a id="computex1">展場驚爆區</a>
        </h2>
        <div class="list_F bg01">
            <ul>
                
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=217298&amp;ec=acer-speedweek" id="prod217298" name="prod217298"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202104/217298_M.jpg?t=20210729163355" border="0"></p>
            <storg>【現貨供應中】宏碁 Acer Swift 3x 輕薄窄邊筆電 14"(i5-1135G7/Iris ...</storg>
            <h4>現降5000!全通路最低價!</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>86</span>折</p>
            <strong class="txt_red fred"> <em>市價$34900</em> <i>活動價$</i>29900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=218020&amp;ec=acer-speedweek" id="prod218020" name="prod218020"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl01_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202105/218020_M.jpg?t=20210714183406" border="0"></p>
            <storg>宏碁 ACER TravelMate B3筆記型電腦 11.6"(N4020/8G/256G/Win...</storg>
            <h4></h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>6</span>折</p>
            <strong class="txt_red fred"> <em>市價$16900</em> <i>活動價$</i>9990 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=216280&amp;ec=acer-speedweek" id="prod216280" name="prod216280"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl02_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202103/216280_M.jpg?t=20210308183224" border="0"></p>
            <storg>宏碁ACER 24型 IPS 超薄液晶顯示器</storg>
            <h4></h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>8</span>折</p>
            <strong class="txt_red fred"> <em>市價$4990</em> <i>活動價$</i>3988 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219089&amp;ec=acer-speedweek" id="prod219089" name="prod219089"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl03_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219089_M.jpg?t=20210730111741" border="0"></p>
            <storg>宏碁 ACER Nitro 5 電競筆記型電腦 15.6"(i5-11400H/8GB/512GB/...</storg>
            <h4>狂降2000!加碼INTEL好禮搶先享!!</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>95</span>折</p>
            <strong class="txt_red fred"> <em>市價$37900</em> <i>活動價$</i>35900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=217167&amp;ec=acer-speedweek" id="prod217167" name="prod217167"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl04_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202104/217167_M.jpg?t=20210422101557" border="0"></p>
            <storg>宏碁 ACER 桌上型主機(i7-10700F/16G/512G/RTX3060Ti/W10)...</storg>
            <h4>INTEL好禮搶先享</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>96</span>折</p>
            <strong class="txt_red fred"> <em>市價$49900</em> <i>活動價$</i>47900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=218731&amp;ec=acer-speedweek" id="prod218731" name="prod218731"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl05_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202106/218731_M.jpg?t=20210621183258" border="0"></p>
            <storg>宏碁 ACER  Swift 筆記型電腦 14"(R5-5500U/16G/512G/GTX1650...</storg>
            <h4>ACER 全新 R5 輕薄1650 獨顯筆電</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>92</span>折</p>
            <strong class="txt_red fred"> <em>市價$33900</em> <i>活動價$</i>30900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219015&amp;ec=acer-speedweek" id="prod219015" name="prod219015"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl06_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219015_M.jpg?t=20210721114634" border="0"></p>
            <storg>宏碁 ACER 桌上型電腦 23.8"(i5-1135G7/8GB/512GB/MX330-2GB/...</storg>
            <h4></h4>
            <div class="boxF_price">
            
            <strong class="txt_red fred"> <em>市價$27500</em> <i>活動價$</i>27500 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219092&amp;ec=acer-speedweek" id="prod219092" name="prod219092"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl07_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219092_M.jpg?t=20210712183253" border="0"></p>
            <storg>宏碁 ACER Predator Helios 300 電競筆記型電腦 15.6"(i7-11800...</storg>
            <h4>地表最強RTX3070電競筆電</h4>
            <div class="boxF_price">
            
            <strong class="txt_red fred"> <em>市價$59900</em> <i>活動價$</i>59900 </strong> </div></a></li>
                            
    
            </ul>
        </div>
        <h2 class="protitle pro2">
            <a id="computex2">筆電主機螢幕</a>
        </h2>
        <div class="list_F bg01">
            <ul>
                
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=217298&amp;ec=acer-speedweek" id="prod217298" name="prod217298"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202104/217298_M.jpg?t=20210729163355" border="0"></p>
            <storg>【現貨供應中】宏碁 Acer Swift 3x 輕薄窄邊筆電 14"(i5-1135G7/Iris ...</storg>
            <h4>現降5000!全通路最低價!</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>86</span>折</p>
            <strong class="txt_red fred"> <em>市價$34900</em> <i>活動價$</i>29900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=218020&amp;ec=acer-speedweek" id="prod218020" name="prod218020"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl01_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202105/218020_M.jpg?t=20210714183406" border="0"></p>
            <storg>宏碁 ACER TravelMate B3筆記型電腦 11.6"(N4020/8G/256G/Win...</storg>
            <h4></h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>6</span>折</p>
            <strong class="txt_red fred"> <em>市價$16900</em> <i>活動價$</i>9990 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=216280&amp;ec=acer-speedweek" id="prod216280" name="prod216280"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl02_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202103/216280_M.jpg?t=20210308183224" border="0"></p>
            <storg>宏碁ACER 24型 IPS 超薄液晶顯示器</storg>
            <h4></h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>8</span>折</p>
            <strong class="txt_red fred"> <em>市價$4990</em> <i>活動價$</i>3988 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219089&amp;ec=acer-speedweek" id="prod219089" name="prod219089"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl03_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219089_M.jpg?t=20210730111741" border="0"></p>
            <storg>宏碁 ACER Nitro 5 電競筆記型電腦 15.6"(i5-11400H/8GB/512GB/...</storg>
            <h4>狂降2000!加碼INTEL好禮搶先享!!</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>95</span>折</p>
            <strong class="txt_red fred"> <em>市價$37900</em> <i>活動價$</i>35900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=217167&amp;ec=acer-speedweek" id="prod217167" name="prod217167"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl04_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202104/217167_M.jpg?t=20210422101557" border="0"></p>
            <storg>宏碁 ACER 桌上型主機(i7-10700F/16G/512G/RTX3060Ti/W10)...</storg>
            <h4>INTEL好禮搶先享</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>96</span>折</p>
            <strong class="txt_red fred"> <em>市價$49900</em> <i>活動價$</i>47900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=218731&amp;ec=acer-speedweek" id="prod218731" name="prod218731"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl05_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202106/218731_M.jpg?t=20210621183258" border="0"></p>
            <storg>宏碁 ACER  Swift 筆記型電腦 14"(R5-5500U/16G/512G/GTX1650...</storg>
            <h4>ACER 全新 R5 輕薄1650 獨顯筆電</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>92</span>折</p>
            <strong class="txt_red fred"> <em>市價$33900</em> <i>活動價$</i>30900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219015&amp;ec=acer-speedweek" id="prod219015" name="prod219015"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl06_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219015_M.jpg?t=20210721114634" border="0"></p>
            <storg>宏碁 ACER 桌上型電腦 23.8"(i5-1135G7/8GB/512GB/MX330-2GB/...</storg>
            <h4></h4>
            <div class="boxF_price">
            
            <strong class="txt_red fred"> <em>市價$27500</em> <i>活動價$</i>27500 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219092&amp;ec=acer-speedweek" id="prod219092" name="prod219092"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl07_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219092_M.jpg?t=20210712183253" border="0"></p>
            <storg>宏碁 ACER Predator Helios 300 電競筆記型電腦 15.6"(i7-11800...</storg>
            <h4>地表最強RTX3070電競筆電</h4>
            <div class="boxF_price">
            
            <strong class="txt_red fred"> <em>市價$59900</em> <i>活動價$</i>59900 </strong> </div></a></li>
                            
    
            </ul>
        </div>
        <h2 class="protitle pro3">
            <a id="computex3">電腦週邊</a>
        </h2>
        <div class="list_F bg01">
            <ul>
                
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=217298&amp;ec=acer-speedweek" id="prod217298" name="prod217298"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202104/217298_M.jpg?t=20210729163355" border="0"></p>
            <storg>【現貨供應中】宏碁 Acer Swift 3x 輕薄窄邊筆電 14"(i5-1135G7/Iris ...</storg>
            <h4>現降5000!全通路最低價!</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>86</span>折</p>
            <strong class="txt_red fred"> <em>市價$34900</em> <i>活動價$</i>29900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=218020&amp;ec=acer-speedweek" id="prod218020" name="prod218020"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl01_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202105/218020_M.jpg?t=20210714183406" border="0"></p>
            <storg>宏碁 ACER TravelMate B3筆記型電腦 11.6"(N4020/8G/256G/Win...</storg>
            <h4></h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>6</span>折</p>
            <strong class="txt_red fred"> <em>市價$16900</em> <i>活動價$</i>9990 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=216280&amp;ec=acer-speedweek" id="prod216280" name="prod216280"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl02_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202103/216280_M.jpg?t=20210308183224" border="0"></p>
            <storg>宏碁ACER 24型 IPS 超薄液晶顯示器</storg>
            <h4></h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>8</span>折</p>
            <strong class="txt_red fred"> <em>市價$4990</em> <i>活動價$</i>3988 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219089&amp;ec=acer-speedweek" id="prod219089" name="prod219089"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl03_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219089_M.jpg?t=20210730111741" border="0"></p>
            <storg>宏碁 ACER Nitro 5 電競筆記型電腦 15.6"(i5-11400H/8GB/512GB/...</storg>
            <h4>狂降2000!加碼INTEL好禮搶先享!!</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>95</span>折</p>
            <strong class="txt_red fred"> <em>市價$37900</em> <i>活動價$</i>35900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=217167&amp;ec=acer-speedweek" id="prod217167" name="prod217167"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl04_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202104/217167_M.jpg?t=20210422101557" border="0"></p>
            <storg>宏碁 ACER 桌上型主機(i7-10700F/16G/512G/RTX3060Ti/W10)...</storg>
            <h4>INTEL好禮搶先享</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>96</span>折</p>
            <strong class="txt_red fred"> <em>市價$49900</em> <i>活動價$</i>47900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=218731&amp;ec=acer-speedweek" id="prod218731" name="prod218731"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl05_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202106/218731_M.jpg?t=20210621183258" border="0"></p>
            <storg>宏碁 ACER  Swift 筆記型電腦 14"(R5-5500U/16G/512G/GTX1650...</storg>
            <h4>ACER 全新 R5 輕薄1650 獨顯筆電</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>92</span>折</p>
            <strong class="txt_red fred"> <em>市價$33900</em> <i>活動價$</i>30900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219015&amp;ec=acer-speedweek" id="prod219015" name="prod219015"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl06_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219015_M.jpg?t=20210721114634" border="0"></p>
            <storg>宏碁 ACER 桌上型電腦 23.8"(i5-1135G7/8GB/512GB/MX330-2GB/...</storg>
            <h4></h4>
            <div class="boxF_price">
            
            <strong class="txt_red fred"> <em>市價$27500</em> <i>活動價$</i>27500 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219092&amp;ec=acer-speedweek" id="prod219092" name="prod219092"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl07_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219092_M.jpg?t=20210712183253" border="0"></p>
            <storg>宏碁 ACER Predator Helios 300 電競筆記型電腦 15.6"(i7-11800...</storg>
            <h4>地表最強RTX3070電競筆電</h4>
            <div class="boxF_price">
            
            <strong class="txt_red fred"> <em>市價$59900</em> <i>活動價$</i>59900 </strong> </div></a></li>
                            
    
            </ul>
        </div>
        <h2 class="protitle pro4">
            <a id="computex4">電腦零件區</a>
        </h2>
        <div class="list_F bg01">
            <ul>
                
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=217298&amp;ec=acer-speedweek" id="prod217298" name="prod217298"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202104/217298_M.jpg?t=20210729163355" border="0"></p>
            <storg>【現貨供應中】宏碁 Acer Swift 3x 輕薄窄邊筆電 14"(i5-1135G7/Iris ...</storg>
            <h4>現降5000!全通路最低價!</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>86</span>折</p>
            <strong class="txt_red fred"> <em>市價$34900</em> <i>活動價$</i>29900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=218020&amp;ec=acer-speedweek" id="prod218020" name="prod218020"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl01_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202105/218020_M.jpg?t=20210714183406" border="0"></p>
            <storg>宏碁 ACER TravelMate B3筆記型電腦 11.6"(N4020/8G/256G/Win...</storg>
            <h4></h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>6</span>折</p>
            <strong class="txt_red fred"> <em>市價$16900</em> <i>活動價$</i>9990 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=216280&amp;ec=acer-speedweek" id="prod216280" name="prod216280"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl02_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202103/216280_M.jpg?t=20210308183224" border="0"></p>
            <storg>宏碁ACER 24型 IPS 超薄液晶顯示器</storg>
            <h4></h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>8</span>折</p>
            <strong class="txt_red fred"> <em>市價$4990</em> <i>活動價$</i>3988 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219089&amp;ec=acer-speedweek" id="prod219089" name="prod219089"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl03_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219089_M.jpg?t=20210730111741" border="0"></p>
            <storg>宏碁 ACER Nitro 5 電競筆記型電腦 15.6"(i5-11400H/8GB/512GB/...</storg>
            <h4>狂降2000!加碼INTEL好禮搶先享!!</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>95</span>折</p>
            <strong class="txt_red fred"> <em>市價$37900</em> <i>活動價$</i>35900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=217167&amp;ec=acer-speedweek" id="prod217167" name="prod217167"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl04_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202104/217167_M.jpg?t=20210422101557" border="0"></p>
            <storg>宏碁 ACER 桌上型主機(i7-10700F/16G/512G/RTX3060Ti/W10)...</storg>
            <h4>INTEL好禮搶先享</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>96</span>折</p>
            <strong class="txt_red fred"> <em>市價$49900</em> <i>活動價$</i>47900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=218731&amp;ec=acer-speedweek" id="prod218731" name="prod218731"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl05_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202106/218731_M.jpg?t=20210621183258" border="0"></p>
            <storg>宏碁 ACER  Swift 筆記型電腦 14"(R5-5500U/16G/512G/GTX1650...</storg>
            <h4>ACER 全新 R5 輕薄1650 獨顯筆電</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>92</span>折</p>
            <strong class="txt_red fred"> <em>市價$33900</em> <i>活動價$</i>30900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219015&amp;ec=acer-speedweek" id="prod219015" name="prod219015"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl06_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219015_M.jpg?t=20210721114634" border="0"></p>
            <storg>宏碁 ACER 桌上型電腦 23.8"(i5-1135G7/8GB/512GB/MX330-2GB/...</storg>
            <h4></h4>
            <div class="boxF_price">
            
            <strong class="txt_red fred"> <em>市價$27500</em> <i>活動價$</i>27500 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219092&amp;ec=acer-speedweek" id="prod219092" name="prod219092"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl07_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219092_M.jpg?t=20210712183253" border="0"></p>
            <storg>宏碁 ACER Predator Helios 300 電競筆記型電腦 15.6"(i7-11800...</storg>
            <h4>地表最強RTX3070電競筆電</h4>
            <div class="boxF_price">
            
            <strong class="txt_red fred"> <em>市價$59900</em> <i>活動價$</i>59900 </strong> </div></a></li>
                            
    
            </ul>
        </div>
        <h2 class="protitle pro5">
            <a id="compuex5">智慧穿戴</a>
        </h2>
        <div class="list_F bg01">
            <ul>
                
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=217298&amp;ec=acer-speedweek" id="prod217298" name="prod217298"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202104/217298_M.jpg?t=20210729163355" border="0"></p>
            <storg>【現貨供應中】宏碁 Acer Swift 3x 輕薄窄邊筆電 14"(i5-1135G7/Iris ...</storg>
            <h4>現降5000!全通路最低價!</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>86</span>折</p>
            <strong class="txt_red fred"> <em>市價$34900</em> <i>活動價$</i>29900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=218020&amp;ec=acer-speedweek" id="prod218020" name="prod218020"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl01_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202105/218020_M.jpg?t=20210714183406" border="0"></p>
            <storg>宏碁 ACER TravelMate B3筆記型電腦 11.6"(N4020/8G/256G/Win...</storg>
            <h4></h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>6</span>折</p>
            <strong class="txt_red fred"> <em>市價$16900</em> <i>活動價$</i>9990 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=216280&amp;ec=acer-speedweek" id="prod216280" name="prod216280"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl02_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202103/216280_M.jpg?t=20210308183224" border="0"></p>
            <storg>宏碁ACER 24型 IPS 超薄液晶顯示器</storg>
            <h4></h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>8</span>折</p>
            <strong class="txt_red fred"> <em>市價$4990</em> <i>活動價$</i>3988 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219089&amp;ec=acer-speedweek" id="prod219089" name="prod219089"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl03_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219089_M.jpg?t=20210730111741" border="0"></p>
            <storg>宏碁 ACER Nitro 5 電競筆記型電腦 15.6"(i5-11400H/8GB/512GB/...</storg>
            <h4>狂降2000!加碼INTEL好禮搶先享!!</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>95</span>折</p>
            <strong class="txt_red fred"> <em>市價$37900</em> <i>活動價$</i>35900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=217167&amp;ec=acer-speedweek" id="prod217167" name="prod217167"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl04_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202104/217167_M.jpg?t=20210422101557" border="0"></p>
            <storg>宏碁 ACER 桌上型主機(i7-10700F/16G/512G/RTX3060Ti/W10)...</storg>
            <h4>INTEL好禮搶先享</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>96</span>折</p>
            <strong class="txt_red fred"> <em>市價$49900</em> <i>活動價$</i>47900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=218731&amp;ec=acer-speedweek" id="prod218731" name="prod218731"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl05_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202106/218731_M.jpg?t=20210621183258" border="0"></p>
            <storg>宏碁 ACER  Swift 筆記型電腦 14"(R5-5500U/16G/512G/GTX1650...</storg>
            <h4>ACER 全新 R5 輕薄1650 獨顯筆電</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>92</span>折</p>
            <strong class="txt_red fred"> <em>市價$33900</em> <i>活動價$</i>30900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219015&amp;ec=acer-speedweek" id="prod219015" name="prod219015"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl06_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219015_M.jpg?t=20210721114634" border="0"></p>
            <storg>宏碁 ACER 桌上型電腦 23.8"(i5-1135G7/8GB/512GB/MX330-2GB/...</storg>
            <h4></h4>
            <div class="boxF_price">
            
            <strong class="txt_red fred"> <em>市價$27500</em> <i>活動價$</i>27500 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219092&amp;ec=acer-speedweek" id="prod219092" name="prod219092"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl07_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219092_M.jpg?t=20210712183253" border="0"></p>
            <storg>宏碁 ACER Predator Helios 300 電競筆記型電腦 15.6"(i7-11800...</storg>
            <h4>地表最強RTX3070電競筆電</h4>
            <div class="boxF_price">
            
            <strong class="txt_red fred"> <em>市價$59900</em> <i>活動價$</i>59900 </strong> </div></a></li>
                            
    
            </ul>
        </div>
        <h2 class="protitle pro6">
            <a id="computex6">行動通訊</a>
        </h2>
        <div class="list_F bg01">
            <ul>
                
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=217298&amp;ec=acer-speedweek" id="prod217298" name="prod217298"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202104/217298_M.jpg?t=20210729163355" border="0"></p>
            <storg>【現貨供應中】宏碁 Acer Swift 3x 輕薄窄邊筆電 14"(i5-1135G7/Iris ...</storg>
            <h4>現降5000!全通路最低價!</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>86</span>折</p>
            <strong class="txt_red fred"> <em>市價$34900</em> <i>活動價$</i>29900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=218020&amp;ec=acer-speedweek" id="prod218020" name="prod218020"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl01_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202105/218020_M.jpg?t=20210714183406" border="0"></p>
            <storg>宏碁 ACER TravelMate B3筆記型電腦 11.6"(N4020/8G/256G/Win...</storg>
            <h4></h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>6</span>折</p>
            <strong class="txt_red fred"> <em>市價$16900</em> <i>活動價$</i>9990 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=216280&amp;ec=acer-speedweek" id="prod216280" name="prod216280"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl02_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202103/216280_M.jpg?t=20210308183224" border="0"></p>
            <storg>宏碁ACER 24型 IPS 超薄液晶顯示器</storg>
            <h4></h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>8</span>折</p>
            <strong class="txt_red fred"> <em>市價$4990</em> <i>活動價$</i>3988 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219089&amp;ec=acer-speedweek" id="prod219089" name="prod219089"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl03_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219089_M.jpg?t=20210730111741" border="0"></p>
            <storg>宏碁 ACER Nitro 5 電競筆記型電腦 15.6"(i5-11400H/8GB/512GB/...</storg>
            <h4>狂降2000!加碼INTEL好禮搶先享!!</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>95</span>折</p>
            <strong class="txt_red fred"> <em>市價$37900</em> <i>活動價$</i>35900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=217167&amp;ec=acer-speedweek" id="prod217167" name="prod217167"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl04_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202104/217167_M.jpg?t=20210422101557" border="0"></p>
            <storg>宏碁 ACER 桌上型主機(i7-10700F/16G/512G/RTX3060Ti/W10)...</storg>
            <h4>INTEL好禮搶先享</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>96</span>折</p>
            <strong class="txt_red fred"> <em>市價$49900</em> <i>活動價$</i>47900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=218731&amp;ec=acer-speedweek" id="prod218731" name="prod218731"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl05_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202106/218731_M.jpg?t=20210621183258" border="0"></p>
            <storg>宏碁 ACER  Swift 筆記型電腦 14"(R5-5500U/16G/512G/GTX1650...</storg>
            <h4>ACER 全新 R5 輕薄1650 獨顯筆電</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>92</span>折</p>
            <strong class="txt_red fred"> <em>市價$33900</em> <i>活動價$</i>30900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219015&amp;ec=acer-speedweek" id="prod219015" name="prod219015"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl06_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219015_M.jpg?t=20210721114634" border="0"></p>
            <storg>宏碁 ACER 桌上型電腦 23.8"(i5-1135G7/8GB/512GB/MX330-2GB/...</storg>
            <h4></h4>
            <div class="boxF_price">
            
            <strong class="txt_red fred"> <em>市價$27500</em> <i>活動價$</i>27500 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219092&amp;ec=acer-speedweek" id="prod219092" name="prod219092"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl07_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219092_M.jpg?t=20210712183253" border="0"></p>
            <storg>宏碁 ACER Predator Helios 300 電競筆記型電腦 15.6"(i7-11800...</storg>
            <h4>地表最強RTX3070電競筆電</h4>
            <div class="boxF_price">
            
            <strong class="txt_red fred"> <em>市價$59900</em> <i>活動價$</i>59900 </strong> </div></a></li>
                            
    
            </ul>
        </div>
        <h2 class="protitle pro7">
            <a id="computex7">Mac 專區</a>
        </h2>
        <div class="list_F bg01">
            <ul>
                
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=217298&amp;ec=acer-speedweek" id="prod217298" name="prod217298"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202104/217298_M.jpg?t=20210729163355" border="0"></p>
            <storg>【現貨供應中】宏碁 Acer Swift 3x 輕薄窄邊筆電 14"(i5-1135G7/Iris ...</storg>
            <h4>現降5000!全通路最低價!</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>86</span>折</p>
            <strong class="txt_red fred"> <em>市價$34900</em> <i>活動價$</i>29900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=218020&amp;ec=acer-speedweek" id="prod218020" name="prod218020"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl01_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202105/218020_M.jpg?t=20210714183406" border="0"></p>
            <storg>宏碁 ACER TravelMate B3筆記型電腦 11.6"(N4020/8G/256G/Win...</storg>
            <h4></h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>6</span>折</p>
            <strong class="txt_red fred"> <em>市價$16900</em> <i>活動價$</i>9990 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=216280&amp;ec=acer-speedweek" id="prod216280" name="prod216280"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl02_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202103/216280_M.jpg?t=20210308183224" border="0"></p>
            <storg>宏碁ACER 24型 IPS 超薄液晶顯示器</storg>
            <h4></h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>8</span>折</p>
            <strong class="txt_red fred"> <em>市價$4990</em> <i>活動價$</i>3988 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219089&amp;ec=acer-speedweek" id="prod219089" name="prod219089"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl03_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219089_M.jpg?t=20210730111741" border="0"></p>
            <storg>宏碁 ACER Nitro 5 電競筆記型電腦 15.6"(i5-11400H/8GB/512GB/...</storg>
            <h4>狂降2000!加碼INTEL好禮搶先享!!</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>95</span>折</p>
            <strong class="txt_red fred"> <em>市價$37900</em> <i>活動價$</i>35900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=217167&amp;ec=acer-speedweek" id="prod217167" name="prod217167"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl04_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202104/217167_M.jpg?t=20210422101557" border="0"></p>
            <storg>宏碁 ACER 桌上型主機(i7-10700F/16G/512G/RTX3060Ti/W10)...</storg>
            <h4>INTEL好禮搶先享</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>96</span>折</p>
            <strong class="txt_red fred"> <em>市價$49900</em> <i>活動價$</i>47900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=218731&amp;ec=acer-speedweek" id="prod218731" name="prod218731"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl05_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202106/218731_M.jpg?t=20210621183258" border="0"></p>
            <storg>宏碁 ACER  Swift 筆記型電腦 14"(R5-5500U/16G/512G/GTX1650...</storg>
            <h4>ACER 全新 R5 輕薄1650 獨顯筆電</h4>
            <div class="boxF_price">
            <p class="iconF_pro"><span>92</span>折</p>
            <strong class="txt_red fred"> <em>市價$33900</em> <i>活動價$</i>30900 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219015&amp;ec=acer-speedweek" id="prod219015" name="prod219015"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl06_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219015_M.jpg?t=20210721114634" border="0"></p>
            <storg>宏碁 ACER 桌上型電腦 23.8"(i5-1135G7/8GB/512GB/MX330-2GB/...</storg>
            <h4></h4>
            <div class="boxF_price">
            
            <strong class="txt_red fred"> <em>市價$27500</em> <i>活動價$</i>27500 </strong> </div></a></li>
                    
                                <li><a href="http://www.tk3c.com/pt.aspx?pid=219092&amp;ec=acer-speedweek" id="prod219092" name="prod219092"><p class="itemF_img"><img id="RTProd_ctl00_ProdUc51_RTProd_ctl07_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/202107/219092_M.jpg?t=20210712183253" border="0"></p>
            <storg>宏碁 ACER Predator Helios 300 電競筆記型電腦 15.6"(i7-11800...</storg>
            <h4>地表最強RTX3070電競筆電</h4>
            <div class="boxF_price">
            
            <strong class="txt_red fred"> <em>市價$59900</em> <i>活動價$</i>59900 </strong> </div></a></li>
                            
    
            </ul>
        </div>
    </div>

    <!-- 手機版選單 -->
    <div class="nav-footer">
        <div class="footer-bg"></div>
        <div class="nav-box">
            <ul>
                <li data-id="top">「它」消失的秘密</li>
                <li data-id="1">精選商品</li>
            </ul>
        </div>

        <!-- 商品標題(精選商品) -->
        <div class="box-area type">
            <ul>
                <li><a href="#computex1">展場驚爆區</a></li>
                <li><a href="#computex2">筆電主機螢幕</a></li>
                <li><a href="#computex3">電腦週邊</a></li>
                <li><a href="#computex4">電腦零件區</a></li>
                <li><a href="#computex5">智慧穿戴</a></li>
                <li><a href="#computex7">行動通訊</a></li>
                <li><a href="#computex8">Mac 專區</a></li>
            </ul>
        </div>
    </div>

    <!-- 燦坤粉絲團 -->
    <a href='https://www.facebook.com/TDdd331/' target='_blank' class='fb-fans'>
        <img src='https://events.tk3c.com/events_net/events_net/groupbuy/images/20210416_bt_fb.png'>
    </a>

    <div class="copyR">本公司保有最後修改、變更、活動解釋及取消活動之權利，若有相關異動將會公告於網站，怒不另行通知。</div>
    <!--共用JS -->
    <script type="text/javascript" src="https://events.tk3c.com/events_net/events_net/js/common.js"></script>
    <!-- 手機版選單 --> 
    <script src="https://events.tk3c.com/events_net/events_net/js/mobile_nav.js"></script>
    <!-- 主程式 -->
    <script src="https://events.tk3c.com/events_net/events_net/computex_21/js/computex_vue.js"></script>
</body>
</html>