@charset "utf-8";

#fastPickBox {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: #00000099;
    top: 0;
    z-index: 99;
    display: none;
}

#fastPickBox .pickContent {
    position: relative;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 22%;
    height: auto;
    margin: 0 auto 15%;
    background: #fff;
    border: 4px solid #2e3e64;
    overflow-y: auto;
    padding: 0;
    box-sizing: border-box;
    z-index: 999;
    transform: translateY(-50%);
    font-family: '微軟正黑體',sans-serif;
}

#fastPickBox .descrtionBox h2 {
    text-align: center;
    margin: 0 auto 0;
    font-size: 2em;
    background: #2e3e64;
    padding: 5px;
    font-weight: bold;
    color: #ffffff;
    border: 4px solid #2e3e64;
    box-sizing: border-box;
}

#fastPickBox .descriton .space {
    padding: 15px;
}
#fastPickBox .descrtionBox {
    margin: 0 auto 0;
}

#fastPickBox .descriton {
    width: 100%;
    margin: 0 auto 0;
    padding-top: 3%;
    text-align: left;
}
#fastPickBox .descriton p {
    line-height: 1.5em;
    padding: 3px 20px;
}

#fastPickBox .descriton .comment {
    color:  red;
}

#goPick {
    width: 20%;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    background: #2e3e64;
    color: #ffffff;
    margin: 10px auto 10px;
    display: block;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

/* 其他裝置尺寸 */
@media screen and (max-width: 1600px) {
    #fastPickBox .pickContent {
        width: 28%;
    }
}
@media screen and (max-width: 1440px) {
    #fastPickBox .pickContent {
        width: 35%;
    }
}
@media screen and (max-width: 1025px) {
    #fastPickBox .pickContent {
        width: 41%;
    }
}
@media screen and (max-width: 768px) {
    #fastPickBox .pickContent {
        margin: 0 auto 25%;
        width: 90%;
    }
    #fastPickBox .descriton p {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 576px) {
    #fastPickBox .pickContent {
        margin: 0 auto 40%;
        width: 95%;
    }
    #fastPickBox .descriton p {
        font-size: 1em;
    }
}

@media screen and (max-width: 376px) {
    #fastPickBox .pickContent {
        margin: 0 auto 45%;
    }
}

