@charset "UTF-8";
/* CSS Document */
@font-face {
  font-family: "FontAwesome";

}
body, html {
	font-family: Helvetica, Arial, sans-serif, "微軟正黑體", Microsoft JhengHei !important;
	font-size:14px;
	line-height: 1.5em;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	letter-spacing: 1px;
    overflow-x: hidden;
}

#go-top {
    display: none;
    position: fixed;
    width: 3%;
    right: 3%;
    bottom: 2%;
}

.main{margin-top: 160px;}
#sliderbn{max-width: 2000px;margin: -3% auto 0;}
.topbar{position: fixed;z-index: 1000;width: 100%;top: 0;left: 0;}
.container{padding:0px;background: white;max-width: 100% !important;}
.container .row{margin: 0;}
#ProductSection,#SmallBannerSection,#TopSection{width: 1140px;margin: 0 auto;}
.brand{background: white;}
.brand img{padding:5px 0 10px; height:auto;margin-top:10px;width: 15%;}
.t1{margin-right: 100vw;}
.navmenu{background: #212121; width: 100%;margin: 0 auto;max-width: 2000px;}
.dropdown .btn{width: 228px;padding:10px;border-radius: 0;border:solid 1px white;font-size: 1.2rem;color: #ffffff;background-color:#ededed;font-weight: 500;}
.dropdown .btn:hover{color: #e1e1e1;background: red;outline: none;}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {background:#ededed;border-color:white;color: gray;}
#mainmenu .btn:not(:disabled):not(.disabled){background: #212121;border: solid 1px #e1e1e1;box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);}
.dropdown-toggle::after{display: none;}
.dropdown-menu{text-align:center;width: 228px;border:0;border-radius:0;margin-top: 0px;box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);background: rgba(255,255,255,0.9);height: auto;}
.title{font-size: 1.8em; text-align: center;padding-bottom:5px;}
.title_pc{font-size: 1.8em; text-align: center;padding-bottom:5px;}
.title_m{font-size: 1.8em; text-align: center;padding-bottom:5px;}
.line{border-top:solid 1px lightgray;width: 180px;margin: 0 auto;padding-top:5px;}
.line2{border-top:solid 1px lightgray;width: 210px;margin: 0 auto;padding-top:5px;}
.line3{border-top:solid 1px lightgray;width: 240px;margin: 0 auto;padding-top:5px;}
.line4{border-top:solid 1px lightgray;width: 270px;margin: 0 auto;padding-top:5px;}
.line5{border-top:solid 1px lightgray;width: 310px;margin: 0 auto;padding-top:5px;}
.line6{border-top:solid 1px lightgray;width: 370px;margin: 0 auto;padding-top:5px;}
.line7{border-top:solid 1px lightgray;width: 450px;margin: 0 auto;padding-top:5px;}
.stitle{font-size: 0.8em;color: gray;text-align: center;}
.footer{background: #494949;color: white; padding: 10px 20px; padding-bottom: 0px; font-size: 0.8em;line-height: 1.5em;text-align: justify;text-justify:inter-ideograph;}
footer .content {background-color: #000;}
footer .content p{color: #fff;text-align: center;font-size: 1vmin;margin: 0;padding: 0.5rem 0;}

#HotSaleSection .card, #ProductSection .card {border:0; position:relative;}
#HotSaleSection .btn-follow, #ProductSection .btn-follow {display:none;absolute;top:1rem;left:1.5rem;font-size:1.5em;z-index: 500;color: #f35022;}
#HotSaleSection a, #ProductSection a {color:#666;}
.text-price {color: #f35022;line-height: 2em;}
.text-price2 {color: #f35022;font-size: 2em;}
#HotSaleSection .card-footer .text-price del, #ProductSection .card-footer .text-price del {font-size:14px; color:#ccc;}
#HotSaleSection .card-footer, #ProductSection .card-footer {border:none;background:none;}
#HotSaleSection h1, #ProductSection h1 {border:#333 solid 5px;}
#HotSaleSection h1 .hbefore, #ProductSection h1 .hbefore {display: block;font-size:1.5rem;background: #ffffff;padding: 0.2em;font-weight: bold;margin-bottom:0;margin: -1.9em auto 0.5em auto;color:#999;}
#HotSaleSection h1 .hafter, #ProductSection h1 .hafter	{margin: 0.5em auto -1.9em auto;}
#ProductSection h1 .hbefore {background-color:transparent;}

.card-body{padding: 0 17px;}
.card-footer{padding-top:0px;background: white;border-top:0;}
.card-text{overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;line-height: 24px;height: 50px;margin-bottom: 3px;}
.shopcart{font-size: 1.6em;color: #1092d2;position: absolute;right: 1.5rem;bottom: 2.1rem;padding: 3px 3px;}
.text-darkred{color: #aa0000;overflow: hidden;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;line-height: 24px;height: 45px;margin-bottom: 3px;}

div.col-md-3.col-6:nth-child(1){padding:5px 5px 5px 0px;display: flex;flex: 1 1 auto;}
div.col-md-3.col-6:nth-child(2){padding:5px 5px 5px 0px;display: flex;flex: 1 1 auto;}
div.col-md-3.col-6:nth-child(3){padding:5px 5px 5px 0px;display: flex;flex: 1 1 auto;}
div.col-md-3.col-6:nth-child(4){padding:5px 0px 5px 0px;display: flex;flex: 1 1 auto;}

.dropdown-item:focus, .dropdown-item:hover{background: #f9f9f9;/* border-bottom: solid 1px gray; */}
.dropdown-item a{color: black; padding-bottom: 1px #ccc;margin-top: 0;width: 100%;}

#salebox{display:block;position:fixed;width:200px;height:auto;margin:300px 0 0 605px;bottom:30%;left:50%;z-index:100;}
#salebox .card-text{height: 50px;color: #666;}
#salebox .card-footer{padding: 0px 17px;}
#salebox del{color: #ccc;}
#salebox .shopcart{bottom: 5%;}
#salebox:hover{box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);border-radius: 3px;transition: 0.5s;transform: translateY(-2px);}
.nav-link{color:#6c757c;padding: 0.5rem 0;}

.card:hover{box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.2);border-radius: 3px;transition: 0.5s;transform: translateY(-2px);}

div.dropdown-item{padding: 5px;border-bottom: solid 1px #ccc;}
div.dropdown-item:nth-last-child(1){border-bottom: 0;}

.x-pic-96-35:before {padding-top: 42%;}
.carousel-control-prev-icon {display: block;}
.carousel-control-next-icon {display: block;}
#brand {width: 100%;}
.carousel-control-prev,
.carousel-control-next {opacity: 1;}

/* 搜尋門市 */
.showroom {width: 100;height: auto;margin: 0 auto;padding: 0;}
section header{width: 80;margin: 14vmin auto 8vmin;text-align: center;}
section header h5{color: #000;font-weight: 700;letter-spacing: 5px;text-indent: 5px;font-size: 5vmin;}
section header p {background-color: #000;color: #fff;display: block;margin: -2vmin auto 0;padding: .1vmin 0.5vmin;font-size: 1.5vmin;}
section header hr{border: 1.5px solid #000;}
.showroom header hr{width:35vmin}
.bestsell header p{width:10vmin}
.showroom header p{width:16vmin}
.showroom{width:100%;height:auto;margin:0 auto;padding:0}
.showroom ul.locationlist{width:60%;list-style:none;display:flex;flex-wrap:wrap;justify-content:space-evenly;padding:0;margin:4% auto 5%}
.showroom ul.locationlist>li{width:23%;margin:2% auto}
.showroom ul.locationlist a:hover{opacity:.8}
.showroom figcaption mark{background-color:#000;color:#fff;padding:.2em .5em;font-size:1vmin;float:left}
.showroom figcaption ul{margin:0 0 0 2.5rem;display:block;font-size:1vmin;list-style:none}
.showroom figcaption p{margin:0 0 .2rem .5rem;font-weight:700;letter-spacing:2px;text-indent:2px;display:inline} 
.showroom figcaption p span{font-weight:400;letter-spacing:0}
p.license_pc{word-break:keep-all;margin:2% 2% 2% 0}
.storelocation{margin:0 auto 3%}
.label-group{display:flex;width:100%;flex-wrap:nowrap;justify-content:start}
.label-group mark,.license_pc mark{color:#fff;padding:.3vmin 1vmin;font-size:1vmin;border-radius:5px;margin:0 3% 3% 0;text-align:center;line-height:normal}
.label1{background-color:#db5563}
.label2{background-color:#9fb89b}
.label3{background-color:#f6d0af}
.label4{background-color:#9fb89c}
#ProductSection01 ul li:first-child{height:50px;line-height:1.2em;align-items:center}
.r5{padding-right:5px}
.license1{width:60px;margin-bottom:3px}
.license{width:60px}
.license:checked .license_text{display:block}
.store{padding-bottom:5%;padding-top: 4%;background:#343a40;color:white;border-radius:2px 2px 0 0}
footer article{background-color:#000}
footer article p{color:#fff;text-align:center;font-size:1vmin;margin:0;padding:.5rem 0}
.navigation-list > li{margin:0 1%}
.showroom .list-group li{font-size:1.3vmin}
.tab-content .btn-follow {display: none;}
#mainmenu .dropdown a {color: white;text-decoration: none;}
#mainmenu .dropdown-item a {color: black;}

@media screen and (max-width:1440px){
    .showroom header p{width:18vmin}
}
@media (min-width: 1120px) { 
    #submenu{display: none;}
    #mainmenu_m{display: none;}
    div.dropdown-item{padding: 5px;border-bottom: solid 1px #ccc;}
    div.dropdown-item:nth-last-child(1){border-bottom: 0;}
    .title_m{display: none;}
}

@media screen and (max-width: 1140px) {
    #ProductSection, #SmallBannerSection, #TopSection{width: 100%;}
}

@media screen and (max-width: 1025px) {
    #brand {width: 100%;}
}

@media (max-width: 1199.98px) { 
    #mainmenu_m{display: none;}
    div.dropdown-item{padding: 5px;border-bottom: solid 1px #ccc;}
    div.dropdown-item:nth-last-child(1){border-bottom: 0;}
    .dropdown .btn{width: 192px;}
    .dropdown-menu{width: 192px;}
    .shopcart{right: 0px;}
    .title_m{display: none;}
}


@media (max-width: 991.98px) { 
    #mainmenu_m{display: none;}
    div.dropdown-item{padding: 5px;border-bottom: solid 1px #ccc;}
    div.dropdown-item:nth-last-child(1){border-bottom: 0;}
    .dropdown .btn{width: 143px;}
    .dropdown-menu{width: 143px;}
    
    #SmallBannerSection{margin-top: 7px;}
    .w200{width: 200px;margin-left: -30px;}
    .title_m{display: none;}
    #go-top{right: 10%;}
    .showroom ul.locationlist{width:80%}
    .showroom figcaption mark{float:none}
    .showroom figcaption ul{margin:8% auto 0;padding:0}
    .showroom .list-group li{font-size:1.2vmin;}
    .showroom header p{width:17vmin;}
    .navmenu {overflow-x: scroll;}
}

@media (max-width: 767.98px) { 
    #mainmenu_m{display: none;}
    div.dropdown-item{padding: 5px;border-bottom: solid 1px #ccc;}
    div.dropdown-item:nth-last-child(1){border-bottom: 0;}
    .title_m{display: none;}
}

@media (min-width: 577px) and (max-width:766px) { 
    .brand img {width: 25%;}
    .dropdown .btn {width: 120px;}
}
@media (max-width: 575.98px) { 
    .brand img{height:35px;margin: 0;width: 35%;padding: 5px 0 5px;}
    .dropdown{display: grid;}
    .navmenu{display: flex;flex-wrap:wrap;width: 100%;}
    .dropdown .btn{width: auto;}
    .shopcart{right:1rem;}
    .carousel, .carousel img{width: 100vw; height: auto; background-size:cover;}
    #sliderbn{margin-top: 170px;}
    #go-top{right: 15%;}
    
    div.col-md-3.col-6:nth-child(1){padding:0px 3.5px 3.5px 7px;display: block;}
    div.col-md-3.col-6:nth-child(2){padding:0px 7px 3.5px 3.5px;display: block;}
    div.col-md-3.col-6:nth-child(3){padding:3.5px 3.5px 3.5px 7px;display: block;}
    div.col-md-3.col-6:nth-child(3){padding:3.5px 3.5px 3.5px 7px;display: block;}
    div.col-md-3.col-6:nth-child(4){padding:3.5px 7px 3.5px 3.5px;display: block;}
    
    .nav-pills{background: white;height: 90px;box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);}
    .nav-pills a{color: gray;font-size: 1.2rem;font-weight: 500;border: solid 1px #c1c1c1;margin: 3px 3px 0 4px;}
    .nav-pills .nav-link.active, .nav-pills .show>.nav-link{background: black;}
    .tab-content{font-size: 1.5rem;}
    .nav-link{padding: 0.5rem 0.5rem;width: auto;margin: 2px;background: white;}
    #pills-1{background: white;}
    #pills-1.active{background: black;}
    
    #mainmenu_m{display: block;}
    #mainmenu{display: none;}
    .tabbg{background: white;height: 100vh;margin-top: -15px;position: relative;}
    .tabclose{position: fixed; bottom: 0; background:black;width: 100vw;height: 40px;color: white;padding: 10px;}
    div.dropdown-item{padding: 10px;/* border-top: solid 1px #e3e3e3; */}
    div.dropdown-item:nth-child(1){border-top: solid 1px black;}
    
    .text-price{line-height: 1.2em;}
    .text-price2 {font-size: 1.2em;}
    .text-price_s {font-size: 0.7em;line-height: 0.5em;}
    .text-darkred{font-size: 0.7em;}
    #HotSaleSection .btn-follow, #ProductSection .btn-follow {font-size: 1em;}
    .shopcart{font-size: 0.9em;bottom: 7.7%;}
    
    .title{font-size: 1.6em; }
    .title_m{font-size: 1.6em; display: block;}
    .title_pc{font-size: 1.6em; display: none;}
    .line6{width: 85vw;}
    .line7{width: 85vw;}

    .showroom ul.locationlist>li{width:45%}
    .showroom header hr{width:65vmin}
    .showroom header p{width:37vmin}
    .showroom figcaption ul{margin:0;display:inline}
    .showroom figcaption mark{display:inline;float:unset}
    .showroom .list-group li{font-size:4vmin}
}

@media screen and (max-width:376px){
    .showroom ul.locationlist>li{width:90%}
}
@media (max-width: 321px) { 
    .nav-pills a{font-size: 0.7em;} 
    .title_m{font-size: 1.6em; display: block;}
    .title_pc{font-size: 1.6em; display: none;}
}