<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>咖啡</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="./dist/css/coffee.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div id="coffee-container">
        <!-- 選單區  -->
        <section class="nav">
            <h2 class="logo"></h2>
            <div class="nav-box">
                <h4>活動專區</h4>
                <div>尚未開放</div>
            </div>
            <div class="nav-box">
                <h4>單一產區</h4>
                <div :class="{active: isActive === 'c1'}" @click="theClick('c1')" :value="0">耶加雪菲</div>
                <div :class="{active: isActive === 'c2'}" @click="theClick('c2')" :value="1">微微特南果</div>
                <div :class="{active: isActive === 'c3'}" @click="theClick('c3')" :value="2">高山極硬豆</div>
                <div :class="{active: isActive === 'c4'}" @click="theClick('c4')" :value="3">曼特寧</div>
            </div>
            <div class="nav-box">
                <h4>綜合產區</h4>
                <div :class="{active: isActive === 'c5'}" @click="theClick('c5')" :value="4">非洲小農特區</div>
                <div :class="{active: isActive === 'c6'}" @click="theClick('c6')" :value="5">經典綜合咖啡豆</div>
                <div :class="{active: isActive === 'c7'}" @click="theClick('c7')" :value="6">中南美洲莊園特選</div>
                <div :class="{active: isActive === 'c8'}" @click="theClick('c8')" :value="7">特級綜合咖啡豆</div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </section>
        <section class="content">
            <!-- Slider main container -->
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide" data-swiper-parallax="-50%" data-swiper-parallax-duration="3000" v-for="p in products.img.length">
                        <a :href="products.url[p]" target="_blank"><img :src="getImgUrl(products.img[p -1])"></a>
                    </div>
                </div>
            </div>
        </section>
        <section class="footer"></section>
    </div>

    <!-- 手機版 -->
    <div id="coffee-mobile-container">
        <div class="header">
            <h2>logo</h2>
            <div class="nav-bar" @click="toggleNav">
                <i class="fas fa-align-justify"></i>
            </div>
        </div>

        <div class="mobile-content" :style="{'background-color': changeColor}">
            <!-- Slider main container -->
            <div class="swiper-mobile">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide" v-for="p in products[2]['img'].length">
                            <div class="slide-bg" :style="{background: 'url('+ getImgUrl(products[3]['background'][p -1])+')'}">
                                <h2 class="title place">{{ products[1]['place'][p -1] }}</h2>
                                <h3 class="title">{{ products[0]['name'][p -1] }}</h3>
                                <p class="score-text">
                                    <span class="score">{{ products[4]['score'][p - 1] }}/</span>
                                    9
                                </p>
                                <p><img :src="getImgUrl(products[2]['img'][p -1])"></p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <!-- 價錢連結區 -->
        <div class="price-area" v-for="other in otherDetail[0]['price'].length" :value="other - 1">
            <div class="price">
                <h2>${{ otherDetail[0]['price'][other -1] }}\<em>{{ otherDetail[1]['weight'][other - 1] }}g</em></h2>
            </div>
            <a class="buy" :href="otherDetail[2]['url'][other -1]" target="_blank">購買</a>
        </div>
        <div class="content-area">
            <section id="coffee1" class="coffee">
                <h2>咖啡1</h2>
                <span class="close" @click="cancel">
                    <i class="fas fa-times"></i>
                </span>
            </section>
            <section id="coffee2" class="coffee">咖啡2</section>
            <section id="coffee3" class="coffee">咖啡3</section>
            <section id="coffee4" class="coffee">咖啡4</section>
        </div>
       

        <!-- 類別獨立選單 -->
        <section id="mobile-nav" :class="{ active: isNav,disable:isDisable}">
            <div class="nav-content">
                <span class="close" @click="closeNav">
                    <i class="fas fa-times"></i>
                </span>
                <div class="nav-box">
                    <h4>活動專區</h4>
                    <div>尚未開放</div>
                </div>
                <div class="nav-box">
                    <h4>單一產區</h4>
                    <div v-for="pro in products[0]['name'].length - 4" :value="pro - 1" @click="goDetail">{{ products[0]['name'][pro - 1] }}</div>
                </div>
                <div class="nav-box">
                    <h4>綜合產區</h4>
                    <div v-for="pro in products[0]['name'].length - 4" :value="pro + 3" @click="goDetail">{{ products[0]['name'][pro + 3] }}</div>
                </div>
            </div>
        </section>
    </div>
        <script src="./dist/js/coffee.min.js"></script>
</body>

</html>