@charset "big5";

/* 顯示、隱藏 */
@keyframes hide-and-show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 上下漂浮 */

.upAndDown {
    animation: upAndDown 0.8s infinite;
    animation-duration: 5s;
    animation-direction: alternate;
}

@keyframes upAndDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(15px);
    }
}


/* 上下小移動 */
@keyframes upAndDown-small {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(15px);
    }
}


/* 閃爍、發光 */

.light {
    animation: light 2s infinite;
}

@keyframes light {
    0% {
        filter: brightness(100%);
    }
    97% {
        filter: brightness(130%);
    }
    99% {
        filter: brightness(200%);
    }
    100% {
        filter: brightness(100%);
    }
}

/* 微亮閃爍 */
@keyframes small-light {
    0% {
        filter: brightness(20%);
    }
    30% {
        filter: brightness(40%);
    }
    55% {
        filter: brightness(65%);
    }
    80% {
        filter: brightness(80%);
    }
    100% {
        filter: brightness(100%);
    }
}

/* zoomin 放大 */

.zoom-in {
    animation: zoom-in 0.8s linear;
}

@keyframes zoom-in {
    80% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}


/* zoom out*/

.zoom-out {
    animation: zoom-out 0.75s linear;
}

@keyframes zoom-out {
    90% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

/* 放大消失 */
@keyframes zoom-out-in {
    30% {
        transform: scale(0.3);
        opacity: 0.3;
    }
    50% {
        transform: scale(0.5);
        opacity: 0.6;
    }
    80% {
        transform: scale(0.8);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.rubberBand {
    animation: rubberBand 0.7s linear;
}


/*  晃動變形 */

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.35, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


/*  順時針旋轉 */

.rotate-slow {
    animation: rotate-slow 5s infinite;
}

@keyframes rotate-slow {
    20% {
        transform: rotate(5deg);
    }
    60% {
        transform: rotate(12deg);
    }
    80% {
        transform: rotate(3deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


/* 向右邊旋轉進入 */

.roll-in {
    animation: roll-in 0.8s ease-in both;
}

@keyframes roll-in {
    0% {
        transform: translateX(-100%) rotate(-720deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}


/* 快速往下進入 */

@keyframes fade-in-left-down {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translate3d(-400%, -200%, 0);
    }
    50% {
        transform: translate3d(-150%, -150%, 0);
        opacity: 0.5;
        filter: alpha(opacity=50);
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

/* 往右下飛入 */
@keyframes fade-in-right-down {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translate3d(300%, -200%, 0);
    }
    70% {
        opacity: 0.55;
        filter: alpha(opacity=55);
        transform: translate3d(200%, -350%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

/* 快速往下掉 */
@keyframes fade-in-down {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translate3d(0, -300%, 0);
    }
    85% {
        opacity: 0.85;
        filter: alpha(opacity=85);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform: translate3d(0, 0, 0);
    }
}

/* 往左移動 */
@keyframes fade-in-left {
    70% {
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform: translateX(0);
    }
}

/* 往右移動 */
@keyframes fade-in-right {
    70% {
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform: translateX(0);
    }
}

/* 快速往上移 */
@keyframes fade-in-up {
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
        transform: translate3d(0, 400%, 0);
    }
    90% {
        opacity: 0.7;
        filter: alpha(opacity=70);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
        transform: translate3d(0, 0, 0);
    }
}

/* 持續旋轉360度 */
@keyframes rotate-contined {
    0% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.rotate-contined {
    animation-name: rotate-contined;
    animation-duration: 30s;
    animation-direction: normal;
    animation-iteration-count: infinite;
}

/* 由左往右發漸漸亮文字 */
@keyframes light-to-right {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    50% {
        transform: translateX(100%);
    }
    70% {
        transform: translateX(100%);
        opacity: 8;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.light-to-right {
    animation: light-to-right;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    opacity: 0;
    filter: blur(10%);
    transition: 10s;
    transform: skewX(30px);
}

/* 由右往左發漸漸亮文字 */
@keyframes light-to-left {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    50% {
        transform: translateX(123%);
        opacity: 0;
    }
    70% {
        transform: translateX(-9%);
        opacity: 8;
    }
    100% {
        transform: translateX(-14%);
        opacity: 0;
    }
}

/* 由左往右發漸漸亮文字 */
@keyframes light-to-right {
    0% {
        transform: translateX(-100px);
    }
    50% {
        transform: translateX(20%);
        filter: brightness(5);
        opacity: 1;
    }
    70% {
        transform: translateX(70%);
        filter: brightness(10);
        opacity: 1;
    }
    100% {
        transform: translateX(130%);
        filter: brightness(1);
        opacity: 0.3;
    }
}


/* 左右搖晃 */
@keyframes shake {
    0% {
        transform: translateX(0);
    }
    7% {
        transform: translateX(-10px);
    }
    12% {
        transform: translateX(5px);
    }
    25% {
        transform: translateX(-7px);
    }
    30% {
        transform: translateX(2px);
    }
    40% {
        transform: translateX(0);
    }
}

@keyframes left-to-right-short {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(-20px,20px);
    }
}

@keyframes rotate-small {
    0% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

/* 閃爍效果 */
@keyframes flashit {
    0% {
      opacity: 0;
    }
    49% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    51% {
      opacity: 0;
    }
    69% {
      opacity: 0;
    }
    70% {
      opacity: 0.8;
    }
    71% {
      opacity: 0;
    }
    79% {
      opacity: 0;
    }
    80% {
      opacity: 0.2;
    }
    81% {
      opacity: 0;
    }
    85% {
      opacity: 0;
    }
    86% {
      opacity: 0.5;
    }
    87% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  /* 小幅度旋轉(搖擺) */
  @keyframes rotate-short {
    20% {
        transform: rotate(3deg)
    }

    60% {
        transform: rotate(4deg)
    }

    80% {
        transform: rotate(2deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

/* 往右上飛 */
@keyframes fly-to-top-right {
    0% {
        transform: translate(0,0);
        opacity: 1;
    }
    100% {
        transform: translate(600%,-600%);
        opacity: 1;
    }
}