@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap);
@charset "UTF-8";
/* 搶紅包樣式 */
#red-group {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #0000009e;
  z-index: 10;
  left: 0;
  top: 0;
  margin: 0 auto;
}
#red-group .envel-content {
  width: 50%;
  display: none;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 15;
}
#red-group .envel-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
#red-group .envel-content li {
  width: 50%;
}
#red-group .envel-content li a {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
}
#red-group .envel-content.active {
  display: block;
}
#red-group img {
  width: 100%;
  max-width: 100%;
}
#red-group .close {
  width: 5%;
  height: auto;
  display: block;
  position: absolute;
  right: 10%;
  top: 10%;
  z-index: 20;
  cursor: pointer;
}

.swal2-container img {
  width: 100%;
  max-width: 100%;
}
.swal2-container .swal2-close {
  width: 15%;
  height: auto;
}

#particle_canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
}

/* 其他裝置 */
@media screen and (max-width: 1145px) {
  #red-group .envel-content {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  #red-group .envel-content {
    width: 75%;
    margin: 5% auto;
  }
  #red-group .envel-content li {
    width: 50%;
    margin: 0 -3% 2%;
  }
  #red-group .close {
    width: 18%;
    right: 3%;
    top: 20%;
    cursor: auto;
    opacity: 1;
  }
}
@media screen and (max-width: 320px) {
  #red-group .envel-content {
    margin: 10% auto;
  }
}
