@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap);
@charset "UTF-8";
html {
  scroll-behavior: smooth;
}

#wheel-game {
  width: 100%;
}
#wheel-game img {
  max-width: 100%;
  width: 100%;
}
#wheel-game .wheel-content {
  margin: 0 auto 0;
  width: 100%;
  position: relative;
}
#wheel-game .wheel-content .outside {
  width: 43%;
  height: auto;
  margin: 0 auto 0;
}
#wheel-game .wheel-content .wheel {
  width: 37%;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: -1;
  top: 5%;
  -webkit-transition: -webkit-transform 4s ease-in-out;
  transition: -webkit-transform 4s ease-in-out;
  transition: transform 4s ease-in-out;
  transition: transform 4s ease-in-out, -webkit-transform 4s ease-in-out;
}
#wheel-game .wheel-content .wheel-incoming {
  width: 28%;
  margin: 0 auto;
}
#wheel-game .wheel-content #incoming-sure {
  width: 8%;
  height: auto;
  display: block;
  margin: 3% auto 0;
}

#spin {
  position: absolute;
  width: 19%;
  height: auto;
  display: block;
  left: 0;
  right: 0;
  top: 16%;
  margin: 0 auto 0;
}

/* 手機板 */
@media only screen and (max-width: 992px) {
  #wheel-game .wheel-content .outside {
    width: 70vw;
  }
  #wheel-game .wheel-content .wheel {
    width: 60vw;
  }

  #spin {
    width: 31vw;
    top: 18vw;
  }
}
