<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="3C,手機,電腦,燦坤,618,筆電,全檔狂降,排隊秒殺,燦坤線上購物,switch,購物金,百萬,抽獎,折價券,滑鼠,鍵盤,穿戴,華為" />
    <meta name="description" content="燦坤3C行家GO，全館最低3折up，天天瘋搶全檔狂降，還有行家搶GO區、豪華抽好禮等你拿！火力全開再享天天抽10萬還原金！" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,IE=10,IE=11">
    <link href="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/fb_share-3.jpg" rel="image_src" />

    <!--FB meta-->
    <meta property="fb:admins" content="" />
    <meta property="fb:app_id" content="606825782724291" />
    <meta property="og:site_name" content="燦坤線上購物" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="燦坤線上 | 潮流3C盡情購，最殺最夯的3C行家就在燦坤！" />
    <meta property="og:description" content="燦坤3C行家GO，全館最低3折up，天天瘋搶全檔狂降，還有行家搶GO區、豪華抽好禮等你拿！火力全開再享天天抽10萬還原金！" />
    <meta property="og:image" content="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/fb_share-3.jpg" />
    <meta property="og:url" content="https://events.tk3c.com/events_net/618exportgo1c/index.html" />

    <title>燦坤線上 | 潮流3C盡情購，最殺最夯的3C行家就在燦坤！</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link href="https://events.tk3c.com/events_net/events_net/animation/animation.css" rel="stylesheet" type="text/css">
    <link href="https://events.tk3c.com/events_net/events_net/css/template/2020_Style.css" rel="stylesheet" type="text/css">
    <link href="https://events.tkec.com.tw/events_net/events_net/css/template/bank.css" rel="stylesheet" type="text/css">
    <!-- 登入頁樣式 -->
    <link href="https://events.tk3c.com/events_net/events_net/618exportgo1c/css/alert.css" rel="stylesheet">
    <link href="https://events.tk3c.com/events_net/events_net/618exportgo1c/css/export1c.css" rel="stylesheet">
    <script src="https://www.tkec.com.tw/js/vue.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
</head>
<body>
    <!--置頂TKEC-->
    <script>
        $(document).ready(function() {
            $.ajax({
                url: "../../top/top.aspx?url=" + location.href,
                type: "POST",
                dataType: 'text',
                success: function (msg) {
                    $("#TkecTop").html(msg);
                }
            });
        });
    </script>
    <div id="TkecTop" style="height:45px;"></div>
    
    <!-- 紅包雨 -->
    <canvas id="particle_canvas"></canvas>
    <!-- 1c分會場頁面 -->
    <div id="export1c-container">
        <div class="animate-group">
            <span class="blue-ball"><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/blue_ball.png"></span>
            <span class="pink-ball"><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/pink_ball.png"></span>
            <h5 class="sub-title"><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/3c_618_s.png"></h5>
            <h2 class="title"><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/kv_title.png"></h2>
            <p class="girl"><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/girl.png"></p>
        </div>
        <!-- 搶紅包入口 -->
        <a class="red-Board" @click="goRain"><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/sp.png"></a>

        <!-- 右側選單 -->
        <aside class="aside-container">
            <h3 class="aside-header">
                <img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/r_top.png">
            </h3>
            <div class="aside-content">
                <ul>
                    <li><a href="#play">玩瘋無上限</a></li>
                    <li><a href="#work">轉戰工作站</a></li>
                    <li><a href="#photo">陸相回憶錄</a></li>
                    <li><a href="#phone">壹機贏世界</a></li>
                    <li><a href="#wifi">捌倍神速通</a></li>
                </ul>
            </div>
            <a href="#" class="go-top"><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/gotop.png"></a>
        </aside>

        <!-- 左側選單 -->
        <div id="event_left_menu" class="sidemenu">
            <div class="headphoto">
                <figure><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/l_top.png"></figure>
            </div>
            <div class="event_part1">
                <figure><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/l_bg.png"></figure>
                <ul>
                    <li><a href="" target="_self">行家帶路主會場</a></li>
                    <li><a href="" target="_self">品質家電 放肆購</a></li>
                    <li><a href="" target="_self">遊戲狂歡 嗨搶購</a></li>
                    <li><a href="" target="_self">福利良品 聰明購</a></li>
                </ul>
            </div>
            <div class="event_part2">
                <figure><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/l_bg.png"></figure>
                <ul>
                    <li><a href="" target="_self">6/7~6/10 石頭X歐樂B</a></li>
                    <li><a href="" target="_self">品牌週二</a></li>
                    <li><a href="" target="_self">品牌週三</a></li>
                    <li><a href="" target="_self">品牌週四</a></li>
                    <li><a href="" target="_self">品牌週五</a></li>
                    <li><a href="" target="_self">品牌週六</a></li>
                </ul>
            </div>
            <div class="event_part3">
                <figure><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/l_bg.png"></figure>
                <ul>
                    <li><a href="" target="_self">未定</a></li>
                    <li><a href="" target="_self">未定</a></li>
                    <li><a href="" target="_self">未定</a></li>
                    <li><a href="" target="_self">未定</a></li>
                    <li><a href="" target="_self">未定</a></li>
                    <li><a href="" target="_self">未定</a></li>
                </ul>
            </div>
        </div>

         <!-- 搶紅包遊戲 -->
         <section class="envel-content alert-style" :class="{active: active}">
            <a class="close-alert" @click="closeGame"><i class="fas fa-times-circle"></i></a>
            <ul>
                <li v-for="(x,index) in rewardList">
                    <a @click="choice"><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/red.png"></a>
                </li>
            </ul>
        </section>

         <!-- 領取折價券視窗 -->
         <div id="alert-group" class="alert-style" v-if="isAlert">
            <div class="alert-content">
                <a class="close-alert" @click="closeAlert"><i class="fas fa-times-circle"></i></a>
                <div class="inner-group">
                    <p class="light"><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/light.png"></p>
                    <img v-if="reward == 0" class="noRewardimg" :src="rewardImg">
                    <img v-else class="rewardimg" :src="rewardImg">
                </div>
                <div class="bottom-footer">
                    <a class="sure-get" @click="closeAlert"><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/bt_ok.png"></a>
                    <a class="check-list" href="" target="_blank"><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/bt_query.png"></a>
                    <a class="detail" href="#pay-rule" @click="seeRule"><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/bt_Instructions.png"></a>
                </div>
            </div>

            <div id="pay-rule" class="rule-group" v-if="isRule">
                <h2><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/pay_rule.png"></h2>
                <div class="rule-text">
                    <h3>Q: 年中慶紅包送的購物金使用期限?</h3>
                    <p>A: 使用期限為領取後的14天</p>
                    <h3>Q: 什麼是燦坤線上購物金?</h3>
                    <p>A: 燦坤線上購物金為燦坤線上購物會員獨享，可於燦坤線上購物結帳指定商品時折抵，一點等於一元。</p>
                    <h3>Q: 怎麼使用購物金?</h3>
                    <p>A: 結帳時可在購物車勾選[我要使用購物金]，折抵的金額以會員帳戶購物金餘額與該商品可抵購物金上限取低者為折抵上限。</p>
                    <b>使用範例:</b>
                    <p class="normal">A 商品網路價2500可折購物金1%，若米小鴨有購物金1000元，<br>
                    則可以用2475元的價格購買A商品，並且剩下購物金975元。</p>
                    <p class="normal">B 商品網路價37800可折購物金3%，若米小鴨有購物金5000元，<br>
                        則可以用36666元的價格購買B商品，購物金餘額3866元。</p>
                    <h3>Q: 購物金能跟折價券同時使用嗎?</h3>
                    <p>A: 一個商品可使用一種折扣方式。您可選擇用折價券或是購物金折抵，兩者僅可擇一使用。</p>
                    <h3>Q: 購物金能夠折抵運費嗎?</h3>
                    <p>A: 購物金不可用於折底運費。</p>

                    <div class="copyright">*本公司保有最終修改、變更、活動解釋即取消活動之權利，若有相關異動將會公告於網站，恕不另行通知。</div>
                </div>
            </div>
        </div>

        <!-- 彈出警告訊息 -->
        <div id="warning-group" class="alert-style" v-if="isWarn">
            <div class="alert-content">
                <a class="close-alert" @click="closeAlert"><i class="fas fa-times-circle"></i></a>
                <div class="inner-group">
                    <p class="warning-text"><img :src="alertImg"></p>
                </div>
                <div class="bottom-footer">
                    <a id="sure" @click="closeAlert"><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/bt_ok.png"></a>
                </div>
            </div>
        </div>
    </div>

     <!-- 商品區 -->
     <div class="product-content">
        <!-- 標題 -->
        <h2 class="protitle">
            <a id="play">玩瘋無上限</a>
        </h2>
        <div class="list_F bg01">
            <ul>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
            </ul>
        </div>
        <h2 class="protitle">
            <a id="work">轉戰工作站</a>
        </h2>
        <div class="list_F bg01">
            <ul>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
            </ul>
        </div>
        <h2 class="protitle">
            <a id="photo">陸相回憶錄</a>
        </h2>
        <div class="list_F bg01">
            <ul>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
            </ul>
        </div>
        <h2 class="protitle">
            <a id="phone">壹機贏世界</a>
        </h2>
        <div class="list_F bg01">
            <ul>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
            </ul>
        </div>
        <h2 class="protitle">
            <a id="wifi">捌倍神速通</a>
        </h2>
        <div class="list_F bg01">
            <ul>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 手機版選單 -->
    <div class="nav-footer">
        <div class="footer-bg"></div>
        <div class="nav-box">
            <ul>
                <li data-id="1">精選商品</li>
                <li data-id="top">潮流3C盡情購</li>
                <li data-id="2">熱門活動</li>
            </ul>
        </div>
        <div class="box-area type">
            <ul>
                <li><a href="#play">玩瘋無上限</a></li>
                <li><a href="#work">轉戰工作站</a></li>
                <li><a href="#photo">陸相回憶錄</a></li>
                <li><a href="#phone">壹機贏世界</a></li>
                <li><a href="#wifi">捌倍神速通</a></li>
            </ul>
        </div>
        <div class="box-area event">
            <ul>
                <li><a href="" target="_blank">行家帶路主會場</a></li>
                <li><a href="" target="_blank">潮流3C</a></li>
                <li><a href="" target="_blank">品質家電</a></li>
                <li><a href="" target="_blank">遊戲狂歡</a></li>
                <li><a href="" target="_blank">福利良品</a></li>
                <li><a href="" target="_blank">行家帶路主會場</a></li>
                <li><a href="" target="_blank">潮流3C</a></li>
                <li><a href="" target="_blank">品質家電</a></li>
                <li><a href="" target="_blank">遊戲狂歡</a></li>
                <li><a href="" target="_blank">福利良品</a></li>
            </ul>
        </div>
    </div>

    <a href='https://www.facebook.com/TDdd331/' target='_blank' class='fb-fans'>
        <img src='https://events.tk3c.com/events_net/events_net/groupbuy/images/20210416_bt_fb.png'>
    </a>

    <script type="text/javascript" src="https://events.tk3c.com/events_net/events_net/js/common.js"></script>
    <!-- 紅包雨 -->
    <script src="https://events.tk3c.com/events_net/events_net/618exportgo1c/js/snow.js"></script>
    <script src="https://events.tk3c.com/events_net/events_net/618exportgo1c/js/envelope.js"></script>
    <script src="https://events.tk3c.com/events_net/events_net/618exportgo1c/js/export1c.js"></script>
</body>
</html>