<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="生活家電,電視,冰箱,洗衣機,冷氣,燦坤,618,全檔狂降,排隊秒殺,燦坤線上購物,dyson,購物金,百萬,抽獎,折價券,清掃,清淨" />
    <meta name="description" content="燦坤家電行家GO，全館最低3折up，天天瘋搶全檔狂降，還有行家搶GO區、豪華抽好禮等你拿！火力全開再轉Awesome豪華禮！" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,IE=10,IE=11">
    <link href="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/fb_share-2.jpg" rel="image_src" />

    <!--FB meta-->
    <meta property="fb:admins" content="" />
    <meta property="fb:app_id" content="606825782724291" />
    <meta property="og:site_name" content="燦坤線上購物" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="燦坤線上 | 品直家電放肆購，最殺最夯的家電行家就在燦坤！" />
    <meta property="og:description" content="燦坤家電行家GO，全館最低3折up，天天瘋搶全檔狂降，還有行家搶GO區、豪華抽好禮等你拿！火力全開再轉Awesome豪華禮！" />
    <meta property="og:image" content="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/fb_share-2.jpg" />
    <meta property="og:url" content="https://events.tk3c.com/events_net/618exportgo2c/index.html" />

    <title>燦坤線上 | 品直家電放肆購，最殺最夯的家電行家就在燦坤！</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link href="https://events.tk3c.com/events_net/events_net/animation/animation.css" rel="stylesheet" type="text/css">
    <link href="https://events.tk3c.com/events_net/events_net/css/template/2020_Style.css" rel="stylesheet" type="text/css">
    <link href="https://events.tkec.com.tw/events_net/events_net/css/template/bank.css" rel="stylesheet" type="text/css">
    <!-- 登入頁樣式 -->
    <link href="https://events.tk3c.com/events_net/events_net/618exportgo1c/css/alert.css" rel="stylesheet">
    <link href="https://events.tk3c.com/events_net/events_net/618exportgo2c/css/export2c.css" rel="stylesheet">
    <script src="https://www.tkec.com.tw/js/vue.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script>
</head>
<body>
    <!--置頂TKEC-->
    <script>
        $(document).ready(function() {
            $.ajax({
                url: "../../top/top.aspx?url=" + location.href,
                type: "POST",
                dataType: 'text',
                success: function (msg) {
                    $("#TkecTop").html(msg);
                }
            });
        });
    </script>
    <div id="TkecTop" style="height:45px;"></div>

    <!-- 2c分會場頁面 -->
    <div id="export2c-container">
        <div class="animate-group">
            <span class="purple-ball"><img src="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/ball.png"></span>
            <span class="blue-ball"><img src="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/ball_s.png"></span>
            <h5 class="sub-title"><img src="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/2c_618_s.png"></h5>
            <h2 class="title"><img src="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/title.png"></h2>
            <a class="wheel" @click="showWheel"><img src="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/letter_wheel.png"></a>
        </div>

        <!-- 轉盤入口 -->
        <a class="wheel-board" @click="showWheel"><img src="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/sp.png"></a>

        <!-- 右側選單 -->
        <aside class="aside-container">
            <h3 class="aside-header">
                <img src="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/r_top.png">
            </h3>
            <div class="aside-content">
                <ul>
                    <li><a href="#play">玩味心食堂</a></li>
                    <li><a href="#turn">轉煥好衣物</a></li>
                    <li><a href="#six">陸遛好清新</a></li>
                    <li><a href="#one">壹起宅劇院</a></li>
                    <li><a href="#water">捌冰洗樂室</a></li>
                </ul>
            </div>
            <a class="go-top"><img src="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/gototop.png"></a>
        </aside>

        <!-- 左側選單 -->
        <div id="event_left_menu" class="sidemenu">
            <div class="headphoto">
                <figure><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/l_top.png"></figure>
            </div>
            <div class="event_part1">
                <figure><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/l_bg.png"></figure>
                <ul>
                    <li><a href="" target="_self">行家帶路主會場</a></li>
                    <li><a href="" target="_self">品質家電 放肆購</a></li>
                    <li><a href="" target="_self">遊戲狂歡 嗨搶購</a></li>
                    <li><a href="" target="_self">福利良品 聰明購</a></li>
                </ul>
            </div>
            <div class="event_part2">
                <figure><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/l_bg.png"></figure>
                <ul>
                    <li><a href="" target="_self"></a></li>
                    <li><a href="" target="_self"></a></li>
                    <li><a href="" target="_self">品牌週三</a></li>
                    <li><a href="" target="_self">品牌週四</a></li>
                    <li><a href="" target="_self">品牌週五</a></li>
                    <li><a href="" target="_self">品牌週六</a></li>
                </ul>
            </div>
            <div class="event_part3">
                <figure><img src="https://events.tk3c.com/events_net/events_net/618exportgo1c/images/l_bg.png"></figure>
                <ul>
                    <li><a href="" target="_self">未定</a></li>
                    <li><a href="" target="_self">未定</a></li>
                    <li><a href="" target="_self">未定</a></li>
                    <li><a href="" target="_self">未定</a></li>
                    <li><a href="" target="_self">未定</a></li>
                    <li><a href="" target="_self">未定</a></li>
                </ul>
            </div>
        </div>

        <!-- 轉盤遊戲區  -->
        <div id="wheel-game" class="alert-style" v-if="isOpen">
            <section class="wheel-content" v-if="!isIncoming">
                <a class="close-alert" @click="closeGame"><i class="fas fa-times-circle"></i></a>
                <p class="outside"><img src="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/outsidebg.png"></p>
                <p class="wheel" :style="{'transform':'rotate('+angle+'deg)'}">
                    <img src="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/wheels_spin.png">
                </p>
                <a id="spin" @click="spin"><img src="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/pointer_btn.png"></a>
            </section>
            <section class="wheel-content" v-else>
                <a class="close-alert" @click="closeGame"><i class="fas fa-times-circle"></i></a>
                <p class="wheel-incoming"><img src="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/spin_incoming.png"></p>
                <a id="incoming-sure" @click="closeAlert"><img src="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/bt_ok.png"></a>
            </section>
        </div>

         <!-- 領取折價券視窗 -->
         <div id="alert-group" class="alert-style" v-if="isAlert">
            <div class="alert-content">
                <a class="close-alert" @click="closeAlert"><i class="fas fa-times-circle"></i></a>
                <div class="inner-group">
                    <img class="spinRewardimg" :src="rewardImg">
                </div>
                <div class="bottom-footer">
                    <a class="sure-get" @click="closeAlert"><img src="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/bt_ok.png"></a>
                    <a class="check-list" href="" target="_blank"><img src="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/discount_query.png"></a>
                    <a class="detail" href="#discount-rule" @click="seeRule"><img src="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/discount_instruct.png"></a>
                </div>

                <div id="discount-rule" class="rule-group" v-if="isRule">
                    <h2><img src="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/discount_rule.png"></h2>
                    <div class="rule-text">
                        <h3>Q: AWESOME轉好禮的折價券使用期限?</h3>
                        <p>A: 使用期限為<br><em class="highlight">2021/06/11 00:00~2021/06/23 23:59</em></p>
                        <h3>Q: 什麼是燦坤線上購物折價券?</h3>
                        <p>A: 燦坤線上購物結帳指定商品時折抵，折抵範圍、方式與使用期限，依各折價券使用方式為準。</p>
                        <h3>Q: 怎麼使用折價券?</h3>
                        <p>A: 結帳時輸入折價券序號，按下確定按鈕立即享受折扣優惠!</p>
                        <h3>Q: 購物金能跟折價券一起使用嗎?</h3>
                        <p>A: 一個商品可使用一種折扣方式。您可選擇用折價券或是購物金折抵，兩者僅可擇一使用</p>
    
                        <div class="copyright">*本公司保有最終修改、變更、活動解釋即取消活動之權利，若有相關異動將會公告於網站，恕不另行通知。</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 彈出警告訊息 -->
        <div id="warning-group" class="alert-style" v-if="isWarn">
            <div class="alert-content">
                <a class="close-alert" @click="closeAlert"><i class="fas fa-times-circle"></i></a>
                <div class="inner-group">
                    <p class="warning-text"><img :src="alertImg"></p>
                </div>
                <div class="bottom-footer">
                    <a id="spin-sure" @click="closeAlert"><img src="https://events.tk3c.com/events_net/events_net/618exportgo2c/images/bt_ok.png"></a>
                </div>
            </div>
        </div>
    </div>

    <!-- 商品區 -->
    <div class="product-content">
        <!-- 標題 -->
        <h2 class="protitle">
            <a id="play">玩味心食堂</a>
        </h2>
        <div class="list_F bg01">
            <ul>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
            </ul>
        </div>
        <h2 class="protitle">
            <a id="turn">轉煥好衣物/a>
        </h2>
        <div class="list_F bg01">
            <ul>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
            </ul>
        </div>
        <h2 class="protitle">
            <a id="six">陸遛好清新</a>
        </h2>
        <div class="list_F bg01">
            <ul>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
            </ul>
        </div>
        <h2 class="protitle">
            <a id="one">壹起宅劇院</a>
        </h2>
        <div class="list_F bg01">
            <ul>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
            </ul>
        </div>
        <h2 class="protitle">
            <a id="water">捌冰洗樂室</a>
        </h2>
        <div class="list_F bg01">
            <ul>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
                <li>
                    <a href="http://www.tk3c.com/pt.aspx?pid=187720&amp;ec=AIR20210513" id="prod187720" name="prod187720">
                    <p class="itemF_img">
                        <img id="RTProd_ctl01_ProdUc51_RTProd_ctl00_Img" onerror="ImgError(this);" src="https://www.cdn-tkec.tw/image/product/201805/187720_M.jpg?t=20201119095713" border="0">
                    </p>
                    <storg>國際牌Panasonic 8坪空氣清淨機</storg>
                    <h4></h4>
                    <div class="boxF_price">
                    <p class="iconF_pro"><span>82</span>折</p>
                    <strong class="txt_red fred"> <em>市價$6490</em> <i>活動價$</i>5290 </strong> </div></a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 手機版選單 -->
    <div class="nav-footer">
        <div class="footer-bg"></div>
        <div class="nav-box">
            <ul>
                <li data-id="1">精選商品</li>
                <li data-id="top">品質家電放肆購</li>
                <li data-id="2">熱門活動</li>
            </ul>
        </div>
        <div class="box-area type">
            <ul>
                <li><a href="#play">玩味心食堂</a></li>
                <li><a href="#turn">轉煥好衣物</a></li>
                <li><a href="#six">陸遛好清新</a></li>
                <li><a href="#one">壹起宅劇院</a></li>
                <li><a href="#water">捌冰洗樂室</a></li>
            </ul>
        </div>
        <div class="box-area event">
            <ul>
                <li><a href="" target="_blank">行家帶路主會場</a></li>
                <li><a href="" target="_blank">潮流3C</a></li>
                <li><a href="" target="_blank">品質家電</a></li>
                <li><a href="" target="_blank">遊戲狂歡</a></li>
                <li><a href="" target="_blank">福利良品</a></li>
            </ul>
        </div>
    </div>

    <a href='https://www.facebook.com/TDdd331/' target='_blank' class='fb-fans'>
        <img src='https://events.tk3c.com/events_net/events_net/groupbuy/images/20210416_bt_fb.png'>
    </a>

    <script src="https://events.tk3c.com/events_net/events_net/js/common.js"></script>
    <script src="https://events.tk3c.com/events_net/events_net/618exportgo2c/js/spin.js"></script>
    <script src="https://events.tk3c.com/events_net/events_net/618exportgo2c/js/export2c.js"></script>
</body>
</html>